{{> header}}
{{> sidebar module='selecaoppgi' page='adital-adicionar'}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    <h1>Criar Novo Edital de Seleção para o PPGI</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Página Inicial </a></li>
                        <li class="breadcrumb-item active">Adicionar</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-md-4 col-lg-4 col-xl-3 mt-4">
                    <a class="btn btn-warning color-white" id="voltarBtn">
                        <i class="fa fa-arrow-left"></i>
                        Voltar
                    </a>
                    <a class="btn btn-success color-white" href="/edital/listEdital">
                        <i class="fas fa-list"></i>
                        Listar Editais
                    </a>      
                </div>
                
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">

            <div class="col-md-12">

                <form action="/edital/addEdital" method="post"  id="adicionarSelecaoForm">
                    <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}">

                    <div class="card card-light">
                        <div class="card-header">
                            <h3 class="card-title"><b>Dados do Edital</b></h3>
                        </div>
                        
                        <div class="card-body">
                            <div class="col-md-12">
                            

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <font color="#FF0000">*</font>
                                            <label> Número do Edital:</label>
                                            <input type="text" class="form-control edital" id="num_edital" name="num_edital" required>
                                            <div class="hint-block">
                                                <span>Ex.: 001-2023, sendo o <b>'001'</b> o número do edital e <b>'2023'</b> o ano</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <font color="#FF0000">*</font>
                                            <label for="URL">URL do Edital</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-globe"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="documento" name="documento" required>
                                            </div>
                                            <div class="hint-block">Ex.: http://www.propesp.ufam.edu.br</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row mt-4">
                                    <!------data de inicio------------>
                                    <div class="col-md-6">
                                        <font color="#FF0000">*</font>
                                        <label>Data de Início das Inscrições:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control" placeholder="Data de Início" name="data_inicio"
                                                data-inputmask-inputformat="dd/mm/yyyy" required
                                                id="data_inicio">
                                        </div>
                                    </div>

                                    <!------data de fim------------>
                                    <div class="col-md-6">
                                        <font color="#FF0000">*</font> <label>Data de Término das Inscrições:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control" name="data_fim" placeholder="Data de Fim"
                                                required id="data_fim">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div> 
                    </div>


                    <div class="card card-light">
                        <div class="card-header">
                            <h3 class="card-title"><b>Configuração da Inscrição e Vagas</b></h3>
                        </div>
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-row">
                                        
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2">
                                            <div class="form-group">
                                                <div class="form-row">                                                
                                                    <label for="carta_recomendacao"> <font color="#FF0000">*</font> Carta de Recomendação? </label>
                                                </div>
                                                <input type="checkbox" name="carta_recomendacao" checked data-bootstrap-switch
                                                    data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                    data-off-text="Não" id="carta_recomendacao">
                                            </div>
                                        </div>

                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                                            <div class="form-group">
                                                <div class="form-row">            
                                                    <label for="carta_orientador"> <font color="#FF0000">*</font>Carta Orientador?</label>
                                                </div>
                                                <input type="checkbox" name="carta_orientador" data-bootstrap-switch
                                                    data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                    data-off-text="Não" id="carta_orientador">
                                            </div>   
                                        </div>

                                        <div class="col-sm-4 alert alert-warning alert-dismissible d-none">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h5><i class="icon fas fa-exclamation-triangle"></i> Atenção!</h5>
                                            Pelo menos um das vagas deve ter um valor maior que zero.
                                        </div>
                                    </div>

                                </div>
                                                           

                                <div class="form-group">                            
                                    <div class="form-row">
                                        <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2">

                                            <div class="form-group">
                                                <div class="form-row">            
                                                    <label for="mestrado"> <font color="#FF0000">*</font>Mestrado?</label>
                                                </div>
                                                <input type="checkbox" name="mestrado" checked data-bootstrap-switch
                                                    data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                    data-off-text="Não" id="mestrado">
                                            </div> 
                                            
                                        </div>

                                        <div class="col-sm-4 col-md-5 col-lg-5 col-xl-4">                                                
                                            <label> <font color="#FF0000">*</font> Vagas Regulares para Mestrado:</label>
                                            <input type="number" name="vaga_regular_mestrado" class="form-control "
                                                placeholder="Vagas Regulares para Mestrado" required
                                                id="vaga_regular_mestrado" value="0" min="0">
                                        </div>

                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <label> <font color="#FF0000">*</font> Vagas Suplementares para Mestrado:</label>
                                            <input type="number" class="form-control " name="vaga_suplementar_mestrado"
                                                placeholder="Vagas Regulares para Mestrado" required
                                                id="vaga_suplementar_mestrado" value="0" min="0">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">                            
                                    <div class="form-row">
                                        <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2">

                                            <div class="form-group">
                                                <div class="form-row">            
                                                    <label for="doutorado"> <font color="#FF0000">*</font>Doutorado?</label>
                                                </div>
                                                <input type="checkbox" name="doutorado" checked data-bootstrap-switch
                                                    data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                    data-off-text="Não" id="doutorado">
                                            </div> 
                                
                                        </div>

                                        <div class="col-sm-4 col-md-5 col-lg-5 col-xl-4">                                                
                                            <label> <font color="#FF0000">*</font> Vagas Regulares para Doutorado:</label>
                                            <input type="number" name="vaga_regular_doutorado" class="form-control "
                                                placeholder="Vagas Regulares para Doutorado" required
                                                id="vaga_regular_doutorado" value="0" min="0">
                                        </div>

                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <label> <font color="#FF0000">*</font> Vagas Suplementares para Doutorado:</label>
                                            <input type="number" class="form-control" name="vaga_suplementar_doutorado"
                                                placeholder="Vagas Regulares para Doutorado" required
                                                id="vaga_suplementar_doutorado" value="0" min="0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">                        
                        <div class="text-left">
                        <button id="botaoSubmit" type="button" class="btn btn-success" onclick="submitForm()">
                            <i class="fas fa-check-circle"></i>
                            Criar Edital
                        </button>
                    </div>
                        
                    </div>

                        
                </form>

                <div id="responseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="responseModalLabel">Resposta</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="responseModalBody">
                                <!-- mensagem -->                            
                            </div>                        
                        </div>
                    </div>
                </div>

                                
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>



<script>
    

    document.getElementById("voltarBtn").addEventListener("click", function() {
        window.history.back();
    });

    let camposIncorretos = true;

    //verifica se pelo menos um dos quatro campos tem valor maior que 0
    function verificarCampos() {
        const vaga_regular_mestrado = parseInt($('#vaga_regular_mestrado').val());
        const vaga_suplementar_mestrado = parseInt($('#vaga_suplementar_mestrado').val());
        const vaga_regular_doutorado = parseInt($('#vaga_regular_doutorado').val());
        const vaga_suplementar_doutorado = parseInt($('#vaga_suplementar_doutorado').val());

        if (
            vaga_regular_mestrado > 0 ||
            vaga_suplementar_mestrado > 0 ||
            vaga_regular_doutorado > 0 ||
            vaga_suplementar_doutorado > 0
        ) {
            $('.alert').addClass('d-none');     // Esconde o alerta
            camposIncorretos = false;             
        } else {
            $('.alert').removeClass('d-none');  // Mostra o alerta
            camposIncorretos = true;          
        }

        var camposPreenchidos = true;
        $('input').each(function () {
            if ($(this).val() === '') {
                camposPreenchidos = false;
                return false;
            }
        });

        if ($('.is-invalid').length === 0 && camposPreenchidos && !camposIncorretos) {
            $('#botaoSubmit').prop('disabled', false);
        }
        else{
             $('#botaoSubmit').prop('disabled', true);
        }
    }
    

    $(document).ready(function () {
        $('#botaoSubmit').prop('disabled', true);
     
        //fica monitorando sempre que uma dessas variáveis mudar
        $('#vaga_regular_mestrado').change(verificarCampos);
        $('#vaga_suplementar_mestrado').change(verificarCampos);
        $('#vaga_regular_doutorado').change(verificarCampos);
        $('#vaga_suplementar_doutorado').change(verificarCampos);
        //--


        // Inicialize o switch
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).is(':checked'));
        });
        //--
        
        //se o switch estiver desabilitado, bloqueia o campo correspondente e altera o valor pra 0
        function toggleFields() {
            var mestradoChecked = $("#mestrado").prop('checked');
            var doutoradoChecked = $("#doutorado").prop('checked');

            var vagaRegularMestrado = $("#vaga_regular_mestrado");
            vagaRegularMestrado.prop('disabled', !mestradoChecked);
            vagaRegularMestrado.val(mestradoChecked ? vagaRegularMestrado.val() : '0');     //se unchecked, valor=0

            var vagaSuplementarMestrado = $("#vaga_suplementar_mestrado");
            vagaSuplementarMestrado.prop('disabled', !mestradoChecked);
            vagaSuplementarMestrado.val(mestradoChecked ? vagaSuplementarMestrado.val() : '0');

            var vagaRegularDoutorado = $("#vaga_regular_doutorado");
            vagaRegularDoutorado.prop('disabled', !doutoradoChecked);
            vagaRegularDoutorado.val(doutoradoChecked ? vagaRegularDoutorado.val() : '0');

            var vagaSuplementarDoutorado = $("#vaga_suplementar_doutorado");
            vagaSuplementarDoutorado.prop('disabled', !doutoradoChecked);
            vagaSuplementarDoutorado.val(doutoradoChecked ? vagaSuplementarDoutorado.val() : '0');
        }

        toggleFields();


        $("#mestrado, #doutorado").on('switchChange.bootstrapSwitch', function (event, state) {
            toggleFields();
        });

        // Pelo menos um dos campos (Mestrado ou Doutorado)sempre deve estar habilitado
        $("#mestrado, #doutorado").on('switchChange.bootstrapSwitch', function (event, state) {
            if (!state) {
                var mestradoChecked = $("#mestrado").prop('checked');
                var doutoradoChecked = $("#doutorado").prop('checked');
                if (!mestradoChecked && !doutoradoChecked) {
                    if (event.target.id === "mestrado") {
                        $("#doutorado").bootstrapSwitch('state', true);
                    } else if (event.target.id === "doutorado") {
                        $("#mestrado").bootstrapSwitch('state', true);
                    }
                }
            }
        });
    });
    

    //metodo adicional para comparação de data
    $.validator.addMethod('comparaData', function (value, element, params) {
        var dataInicio = $('#data_inicio').val();
        var dataFim = $('#data_fim').val();

        if (!dataInicio || !dataFim) {
            return true;
        }

        return new Date(dataInicio) < new Date(dataFim);
    });

    //validação dos campos do formulário
    $('#adicionarSelecaoForm').validate({ 
        rules: {
            vaga_regular_mestrado: {
                required: true,
                digits: true,                
            },
            vaga_suplementar_mestrado: {
                required: true,
                digits: true,               
            },
            vaga_regular_doutorado: {
                required: true,
                digits: true,                
            },
            vaga_suplementar_doutorado: {
                required: true,
                digits: true,                
            },
            carta_recomendacao: {
                required: true,
            },
            carta_orientador: {
                required: true,
            },
            num_edital: {
                required: true,
            },
            documento: {
                required: true,
                url: true,
            },
            data_inicio: {
                required: true,
                date: true,
                comparaData: true
            },
            data_fim: {
                required: true,
                date: true,
                comparaData: true
            },
        },
        messages: {
            vaga_regular_mestrado: {
                required: 'Este campo é obrigatório.',
                digits: 'Por favor, insira apenas números inteiros.',                              
            },
            vaga_suplementar_mestrado: {
                required: 'Este campo é obrigatório.',
                digits: 'Por favor, insira apenas números inteiros.',                
            },
            vaga_regular_doutorado: {
                required: 'Este campo é obrigatório.',
                digits: 'Por favor, insira apenas números inteiros.',                
            },
            vaga_suplementar_doutorado: {
                required: 'Este campo é obrigatório.',
                digits: 'Por favor, insira apenas números inteiros.',                
            },
            carta_recomendacao: {
                required: 'Selecione uma opção para Carta de Recomendação.',
            },
            carta_orientador: {
                required: 'Selecione uma opção para Carta do Orientador.',
            },
            num_edital: {
                required: 'Este campo é obrigatório.',
            },
            documento: {
                required: 'Este campo é obrigatório.',
                url: 'Por favor, insira uma URL válida.',
            },
            data_inicio: {
                required: 'Este campo é obrigatório.',
                date: 'Por favor, insira uma data válida.',
                comparaData: 'A data de fim deve ser maior que a data de início.'
                
            },
            data_fim: {
                required: 'Este campo é obrigatório.',
                date: 'Por favor, insira uma data válida.',
                comparaData: 'A data de fim deve ser maior que a data de início.'
        
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid') || camposIncorretos;
            $('#botaoSubmit').prop('disabled', true);
        },

        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');

            // Verifica se todos os campos estão preenchidos
            var camposPreenchidos = true;
            $('input').each(function () {
                if ($(this).val() === '') {
                    camposPreenchidos = false;
                    return false;
                }
            });

            if ($('.is-invalid').length === 0 && camposPreenchidos && !camposIncorretos) {
                $('#botaoSubmit').prop('disabled', false);
            }
        }

    });


    function pegaDados() {       
        const vaga_regular_mestrado = parseInt($("#vaga_regular_mestrado").val(), 10);
        const vaga_suplementar_mestrado = parseInt($("#vaga_suplementar_mestrado").val(), 10);
        const vaga_regular_doutorado = parseInt($("#vaga_regular_doutorado").val(), 10);
        const vaga_suplementar_doutorado = parseInt($("#vaga_suplementar_doutorado").val(), 10);
        const carta_recomendacao = $('#carta_recomendacao').bootstrapSwitch('state') ? 'on' : 'off';
        const carta_orientador = $("#carta_orientador").bootstrapSwitch('state') ? 'on' : 'off';
        const num_edital = $("#num_edital").val();
        const documento = $("#documento").val();
        const data_inicio = $("#data_inicio").val();
        const data_fim = $("#data_fim").val();

        return {
            vaga_regular_mestrado,
            vaga_suplementar_mestrado,
            vaga_regular_doutorado,
            vaga_suplementar_doutorado,
            carta_recomendacao,
            carta_orientador,
            num_edital,
            documento,
            data_inicio,
            data_fim
        };
    }


    function submitForm() {
        const dados = pegaDados();

        if (dados) {
            dados._csrf = $("#_csrf").val();

            $.ajax({
            url: '/edital/addEdital',
            type: 'POST',
            data: dados,
            success: function (data) {                
                $('#responseModalBody').html('Edital cadastrado com sucesso!');
                $('#responseModal').modal('show');
                setTimeout(function() {
                    window.location.href = '/edital/listEdital';
                }, 2000);
            },
            error: function (data) {                
                $('#responseModalBody').html('Erro: ' + data.responseJSON.error);
                $('#responseModal').modal('show');
            }
            });
        }
    }


</script>



{{> footer}}