{{> header}}
{{> sidebar module='selecaoppgi' page='adital-adicionar'}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Adicionar nova Seleção</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Seleção</a></li>
                        <li class="breadcrumb-item active">Adicionar</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">

            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Dados da selecao PPGI</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="col-md-12">


                            <!-- /.card-header -->
                            <div class="card-body">
                                <form role="form" id="adicionarSelecaoForm">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <font color="#FF0000">*</font>
                                            <label> Número do edital:</label>
                                            <input type="text" class="form-control edital" id="number"
                                                placeholder="Insira o numero de Edital" required>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="form-row">
                                            <font color="#FF0000">*</font>
                                            <label for="URL">
                                                URL
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-globe"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="documento" placeholder="URL"
                                                    required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-row">
                                            <!------data de inicio------------>
                                            <div class="col-sm-6">
                                                <font color="#FF0000">*</font>
                                                <label>Data de Início</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                    <input type="date" class="form-control" placeholder="Data de Início"
                                                        data-inputmask-inputformat="dd/mm/yyyy" required
                                                        id="data_inicio">
                                                </div>
                                            </div>

                                            <!------data de fim------------>
                                            <div class="col-sm-6">
                                                <font color="#FF0000">*</font> <label>Data de Fim</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                    <input type="date" class="form-control" placeholder="Data de Fim"
                                                        required id="data_fim">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="form-group">
                                            <div class="form-row">
                                                <font color="#FF0000">*</font> <label for="Mestrado"> Carta de
                                                    Recomendação? </label>
                                            </div>
                                            <input type="checkbox" name="administrador" unchecked data-bootstrap-switch
                                                data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                data-off-text="Não" id="carta_recomendacao">
                                        </div>

                                        <div class="form-group">
                                            <div class="form-row">
                                                <font color="#FF0000">*</font> <label for="Mestrado"> Carta Orientador?
                                                </label>
                                            </div>
                                            <input type="checkbox" name="administrador" unchecked data-bootstrap-switch
                                                data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                data-off-text="Não" id="carta_orientador">
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <div class="form-row">
                                            <font color="#FF0000">*</font> <label for="Mestrado"> Mestrado? </label>
                                        </div>
                                        <input type="checkbox" name="administrador" unchecked data-bootstrap-switch
                                            data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                            data-off-text="Não" id="Mestrado">


                                    </div>


                                    <div class="form-row">
                                        <div class="col-sm-6">

                                            <font color="#FF0000">*</font>
                                            <label> Vagas Regulares para
                                                Mestrado:</label>
                                            <input type="number" class="form-control "
                                                placeholder="Vagas Regulares para Mestrado" required
                                                id="vaga_regular_mestrado" min="0">

                                        </div>

                                        <div class="col-sm-6">

                                            <font color="#FF0000">*</font> <label> Vagas Suplementares para
                                                Mestrado:</label>
                                            <input type="number" class="form-control "
                                                placeholder="Vagas Regulares para Mestrado" required
                                                id="vaga_suplementar_mestrado" min="0">

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-row">
                                            <font color="#FF0000">*</font>
                                            <label for="Mestrado"> Doutorado? </label>
                                        </div>

                                        <input type="checkbox" name="administrador" unchecked data-bootstrap-switch
                                            data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                            data-off-text="Não" id="doutorado">


                                        <div class="form-row">
                                            <div class="col-sm-6">
                                                <font color="#FF0000">*</font>
                                                <label> Vagas Regulares para Doutarado:</label>
                                                <input type="number" class="form-control "
                                                    placeholder="Vagas Regulares para Doutorado" required
                                                    id="vaga_regular_doutorado" min="0">
                                            </div>

                                            <div class="col-sm-6">

                                                <font color="#FF0000">*</font> <label> Vagas Suplementares para
                                                    Doutorado:</label>
                                                <input type="number" class="form-control "
                                                    placeholder="Vagas Regulares para Doutorado" required
                                                    id="vaga_suplementar_doutorado" min="0" doutorado-input>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="card-footer">
                                        <div class="col">
                                            <input type="submit" value="Criar novo Edital"
                                                class="btn btn-success float-right" onclick="submitForm()">
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col -->
    </section>
    <!-- /.content -->
</div>



<script>
    function test(){
        var data_inicio = document.getElementById("data_inicio").value;
        var data_fim = document.getElementById("data_fim").value;
        var data_inicio_mestrado = document.getElementById("data_inicio_mestrado").value;
        var data_fim_mestrado = document.getElementById("data_fim_mestrado").value;
        var data_inicio_doutorado = document.getElementById("data_inicio_doutorado").value;
        var data_fim_doutorado = document.getElementById("data_fim_doutorado").value;

        if(data_inicio > data_fim){
            alert("A data de início não pode ser maior que a data de fim");
            return false;
        }

        if(data_inicio_mestrado > data_fim_mestrado){
            alert("A data de início não pode ser maior que a data de fim");
            return false;
        }

        if(data_inicio_doutorado > data_fim_doutorado){
            alert("A data de início não pode ser maior que a data de fim");
            return false;
        }

        return true;
    }



    function usuariosAdicionarPage() {
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
            console.log(this)
            // $("input[doutorado-input]").prop('disabled', true);
            

        });
        
        
        $("#usuariosAdicionar").modal("show");
    }

    function getValueFromForm() {
        const dataFromForm = Array.from(document.querySelectorAll('#adicionarSelecaoForm input')).reduce((acc, input) =>
            ({
                ...acc,
                [input.id]: input.value
            }), {});
        return dataFromForm;
    }

    function submitForm() {

        const dataFromForm = getValueFromForm();
        console.log(dataFromForm);
        $.ajax({
            url: '{{url}}/edital/addEdital',
            type: 'POST',
            data: dataFromForm,
            success: function (data) {

                $.validator.setDefaults({
                    submitHandler: function () {
                        alert("Form successful submitted!");
                    },
                    onfocusout: function (el) {
                        this.element(el);
                    },
                });
            },
            error: function (data) {


            }
        });
    }
</script>




{{> footer}}