{{> header}}
{{> sidebar module='selecaoppgi' page='adital-adicionar'}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Adicionar nova Seleção</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Seleção</a></li>
                        <li class="breadcrumb-item active">Adicionar</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">

            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Dados da selecao PPGI</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="col-md-12">


                            <!-- /.card-header -->
                            <div class="card-body">
                                <form role="form" id="adicionarSelecaoForm">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <font color="#FF0000">*</font>
                                            <label> Número do edital:</label>
                                            <input type="text" class="form-control edital" id="number"
                                                placeholder="Insira o numero de Edital" required>
                                            <div class="hint-block">
                                                Ex.: 001-2022, sendo o
                                                <b>'001'</b> o número do
                                                edital e <b>'2022'</b> o ano</div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="form-row">
                                            <font color="#FF0000">*</font>
                                            <label for="URL">
                                                URL
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-globe"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="documento" placeholder="URL"
                                                    required>
                                            </div>
                                            <div class="hint-block">Ex.: http://www.propesp.ufam.edu.br</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-row">
                                            <!------data de inicio------------>
                                            <div class="col-sm-6">
                                                <font color="#FF0000">*</font>
                                                <label>Data de Início</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                    <input type="date" class="form-control" placeholder="Data de Início"
                                                        data-inputmask-inputformat="dd/mm/yyyy" required
                                                        id="data_inicio">
                                                </div>
                                            </div>

                                            <!------data de fim------------>
                                            <div class="col-sm-6">
                                                <font color="#FF0000">*</font> <label>Data de Fim</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                    <input type="date" class="form-control" placeholder="Data de Fim"
                                                        required id="data_fim">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="form-group">
                                            <div class="form-row">
                                                <font color="#FF0000">*</font> <label for="Mestrado"> Carta de
                                                    Recomendação? </label>
                                            </div>
                                            <input type="checkbox" name="administrador" checked data-bootstrap-switch
                                                data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                data-off-text="Não" id="carta_recomendacao">
                                        </div>

                                        <div class="form-group">
                                            <div class="form-row">
                                                <font color="#FF0000">*</font> <label for="Mestrado"> Carta Orientador?
                                                </label>
                                            </div>
                                            <input type="checkbox" name="administrador" checked data-bootstrap-switch
                                                data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                data-off-text="Não" id="carta_orientador">
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <div class="form-row">
                                            <font color="#FF0000">*</font> <label for="Mestrado"> Mestrado? </label>
                                        </div>
                                        <input type="checkbox" name="administrador" checked
                                            data-bootstrap-switch-mestrado data-off-color="danger"
                                            data-on-color="success" data-on-text="Sim" data-off-text="Não"
                                            id="Mestrado">


                                    </div>


                                    <div class="form-row">
                                        <div class="col-sm-6">

                                            <font color="#FF0000">*</font>
                                            <label> Vagas Regulares para
                                                Mestrado:</label>
                                            <input type="number" class="form-control "
                                                placeholder="Vagas Regulares para Mestrado" required
                                                id="vaga_regular_mestrado" min="0">

                                        </div>

                                        <div class="col-sm-6">

                                            <font color="#FF0000">*</font> <label> Vagas Suplementares para
                                                Mestrado:</label>
                                            <input type="number" class="form-control "
                                                placeholder="Vagas Regulares para Mestrado" required
                                                id="vaga_suplementar_mestrado" min="0">

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-row">
                                            <font color="#FF0000">*</font>
                                            <label for="Mestrado"> Doutorado? </label>
                                        </div>

                                        <input type="checkbox" name="administrador" checked
                                            data-bootstrap-switch-doutorado data-off-color="danger"
                                            data-on-color="success" data-on-text="Sim" data-off-text="Não"
                                            id="doutorado">

                                        <div class="form-row">
                                            <div class="col-sm-6">
                                                <font color="#FF0000">*</font>
                                                <label> Vagas Regulares para Doutarado:</label>
                                                <input type="number" class="form-control "
                                                    placeholder="Vagas Regulares para Doutorado" required
                                                    id="vaga_regular_doutorado" min="0">
                                            </div>

                                            <div class="col-sm-6">

                                                <font color="#FF0000">*</font> <label> Vagas Suplementares para
                                                    Doutorado:</label>
                                                <input type="number" class="form-control "
                                                    placeholder="Vagas Regulares para Doutorado" required
                                                    id="vaga_suplementar_doutorado" min="0" doutorado-input>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="card-footer">
                                        <div class="col">
                                            <!-- <input type="submit" value="Criar novo Edital"
                                                class="btn btn-success float-right" onclick="submitForm()"> -->
                                            <button type="submit" class="btn btn-success float-right"
                                                onclick="submitForm()">
                                                Criar novo Edital
                                            </button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col -->
    </section>
    <!-- /.content -->
</div>



<script>
    function usuariosAdicionarPage() {

        $.validator.addMethod("data-teste", function (el) {
            return $('#senhaInput')[0].value === $('#repetirSenhaInput')[0].value
        })


        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });
        $("input[data-bootstrap-switch-doutorado]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
            $(this).bootstrapSwitch('onSwitchChange', () => {
                var input = document.getElementById("vaga_regular_doutorado");
                if ($(this).prop('checked')) {
                    input.disabled = false;
                } else {
                    input.disabled = true;
                }
                var input = document.getElementById("vaga_suplementar_doutorado");
                if ($(this).prop('checked')) {
                    input.disabled = false;
                } else {
                    input.disabled = true;
                }
            })

            if (this.checked) {
                var input = document.getElementById("vaga_regular_doutorado");
                input.disabled = false;
                var input = document.getElementById("vaga_suplementar_doutorado");
                input.disabled = false;
            }
        });

        $("input[data-bootstrap-switch-mestrado]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
            $(this).bootstrapSwitch('onSwitchChange', () => {
                var input = document.getElementById("vaga_regular_mestrado");

                if ($(this).prop('checked')) {
                    input.disabled = false;
                    input.value = 0;
                } else {
                    input.disabled = true;
                    input.value = 0;
                }
                var input = document.getElementById("vaga_suplementar_mestrado");


                if ($(this).prop('checked')) {
                    input.disabled = false;
                    input.value = 0;
                } else {
                    input.disabled = true;
                    input.value = 0;
                }
            })

        });

        function verificarSwitch() {
            let Mestrado = $("input[data-bootstrap-switch-mestrado]").prop('checked')
            let Doutorado = $("input[data-bootstrap-switch-doutorado]").prop('checked')
            var input = document.getElementById("vaga_regular_mestrado");
            input.value = "0";
            var input = document.getElementById("vaga_suplementar_mestrado");
            input.value = "0";
            var input = document.getElementById("vaga_suplementar_doutorado");
            input.value = "0";
            var input = document.getElementById("vaga_regular_doutorado");
            input.value = "0";


            if (!Mestrado) {
                var input = document.getElementById("vaga_regular_mestrado");
                input.disabled = true;
                input.value = "0";
                var input = document.getElementById("vaga_suplementar_mestrado");
                input.disabled = true;
                input.value = "0";
            }

            if (!Doutorado) {
                var input = document.getElementById("vaga_regular_doutorado");
                input.value = "0";
                input.disabled = true;
                var input = document.getElementById("vaga_suplementar_doutorado");
                input.value = "0";
                input.disabled = true;
            }
        }
        verificarSwitch();
        $("#usuariosAdicionar").modal("show");
    }

    function getValueFromForm() {
        const dataFromForm = Array.from(document.querySelectorAll('#adicionarSelecaoForm input')).reduce((acc, input) =>
            ({
                ...acc,
                [input.id]: input.value
            }), {});
        dataFromForm.Mestrado = $('#Mestrado').is(':checked');
        dataFromForm.Doutorado = $('#Doutorado').is(':checked');
        dataFromForm.carta_recomendacao = $('#carta_recomendacao').is(':checked');
        dataFromForm.carta_orientador = $('#carta_orientador').is(':checked');
        return dataFromForm;
    }

    function verificarEntradaForm() {
        let Mestrado = $("input[data-bootstrap-switch-mestrado]").prop('checked')
        let Doutorado = $("input[data-bootstrap-switch-doutorado]").prop('checked')
        if (!Mestrado && !Doutorado) {
            alert("Selecione pelo menos um tipo de curso");
            return false;
        }

        let dataFromForm = getValueFromForm();
        if (dataFromForm.vaga_regular_mestrado == 0 && dataFromForm.vaga_suplementar_mestrado == 0 && Mestrado ==
            true) {
            alert("Selecione pelo menos uma vaga para o curso de mestrado");
            return false;
        }
        if (dataFromForm.vaga_regular_doutorado == 0 && dataFromForm.vaga_suplementar_doutorado == 0 && Doutorado ==
            true) {
            alert("Selecione pelo menos uma vaga para o curso de doutorado");
            return false;
        }

        //verificar se nenhum input ficou vazio
        if (dataFromForm.number == "" || dataFromForm.documento == "" || dataFromForm.data_inicio == "" || dataFromForm
            .data_fim == "") {
            alert("Preencha todos os campos");
            return false;
        }
        return true;

    }

    function submitForm() {

        const dataFromForm = getValueFromForm();
        if (verificarEntradaForm()) {
            $.ajax({
                url: '{{url}}/edital/addEdital',
                type: 'POST',
                data: dataFromForm,
                success: function (data) {
                    $.validator.setDefaults({
                        submitHandler: function () {
                            alert("Form successful submitted!");
                        }
                    });
                },
                error: function (data) {}
            });
        }

    }
</script>




{{> footer}}