<footer class="text-center">
    <div style="    padding: 25px 0; background-color: #233140;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    Copyright © IComp 2023                    </div>
            </div>
        </div>
    </div>
</footer>