# Prisma CLI
# DATABASE_URL="mysql://user:password@host:port/database?schema=public"
DATABASE_URL="mysql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>?schema=public"

# Sessão e Segurança
ROUNDS_SALT=12
PORT=3000

# Configuração do MySQL
MYSQL_PORT=3306
# MYSQL_ROOT_PASSWORD=<YOUR_MYSQL_ROOT_PASSWORD>
# MYSQL_DATABASE=<YOUR_DATABASE_NAME>

# Configuração de envio de email
TIME_MILLIS_EXPIRE_EMAIL=3600000 # 1 Hora
SENDGRID_API_KEY=<YOUR_SENDGRID_API_KEY>
SENDGRID_EMAIL_SEND='your_email@example.com'