node_modules
uploads/*
coverage
#Removing the database credentials
src/config/database.js

#Removing the mail credentials
src/config/mail.json

#Removing upload files
src/uploads/*

# exception to the rule
!src/uploads/.gitkeep 

public/candidato/uploads/*
public/afastamentos/*

uploads/*
public/uploads/*
public/candidato/*

!src/candidato/uploads/.gitkeep 
#Removing the .xlsx file
/planilha.xlsx
public/uploads/candidato/*
!/logs/.gitkeep
/logs/*

# Removing the .env file
.env
.env.development
.env.production
.env.test