node_modules

#Removing the database credentials
src/config/database.js

#Removing the mail credentials
src/config/mail.json

#Removing upload files
src/uploads/*

# exception to the rule
!src/uploads/.gitkeep 

#Removing the .xlsx file
./planilha.xlsx