<style>
    .login-page{
        height: 100vh;
        display: flex;
        overflow-y: hidden;
        background-color: #d2d6de;
    }
    .begin-page .box{
        width: 360px;
        margin: auto;
        margin-top: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card .title{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0px;
        margin-left: 0.125rem;
                margin-right: 0.125rem;
    }

    .begin-page .box .line{
        width: 100%;
        height: 1px;
        background-color: #fff;
        margin: 10px 0 20px 0;
    }

    .begin-page .box .card{
        width: 100%;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    }
    .begin-page .box .card .card-body{
        padding: 20px;
    }
    .begin-page .box .card .card-body .info{
        margin: 20px 0;
        color: #666;
        font-size: 14px;
    }
    .begin-page .box .card .card-body .info h2{
        font-size: 14px;
        margin-bottom: 8px;
    }
    .begin-page .box .card .card-body .options .btn{
        font-size: 14px;
        font-weight: 600;
    }
    .begin-page .box .card .card-body .options .btn-primary{
        background-color: #3c8dbc;
    }
	.container-cards {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-between; 
   		img {
      		max-width: 200px;
      		height: 100px;  
    	}
	}
</style>
<div class="login-box">
    <div class="login-logo container-cards">
		<img src="/public/img//logo-icomp.png" alt="">
    	<img src="/public/img//logo-ufam.png" alt="">
  	</div>
    <div class="card">
        
  
        <div class="card">
            <h2 class="title">
                Formulário de Inscrição no Processo Seletivo para Mestrado/Doutorado - PPGI/UFAM
            </h2>

            
            <div class="card-body login-card-body">

                <div class="info">
                    <span>Candidato, clique em:</span>
                    <li><b>Nova Inscrição:</b> caso você ainda não tenha iniciado a inscrição. Lembrando que para cada edital do PPGI deve ser realizada uma inscrição independente.</li>
                    <li><b>Continuar Inscrição:</b> caso você já tenha iniciado a inscrição, porém ainda não a finalizou.</li>
                
                </div>
                <div class="options row  mt-2">
                    <div class="col-md-6">
                        <a name="nova-inscricao" id="" 
                            class="btn btn-primary btn-block btn-flat" 
                            href="/selecaoppgi/cadastro" role="button">
                            Nova Inscrição
                        </a>
                        <br/>
                    </div>
                    <div class="col-md-6">
                        <a name="nova-inscricao" id="" 
                            class="btn btn-block btn-flat bg-green px-0" 
                            href="/selecaoppgi/entrar" role="button">
                            Continuar Inscrição
                        </a>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
