<style>
    .forms-page{
        height: 100vh;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        overflow-y: auto;
    }

    .forms-page header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        height: 50px;
        background-color: #222;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        padding: 10px 45px;
        z-index: 2;
    }
    .forms-page header h1{
        font-size: 1.4rem;
        color: #dbdbdb;
        cursor: pointer;
    }
    .forms-page header h1:hover{
        color: #fff;
    }
    @media screen and (max-width: 720pt){
        .forms-page header{
            padding: 10px 15px;
        }
    }

    .forms-page header .options{
        display: flex;
        align-items: center;
    }
    .forms-page header .options button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #c7c7c7;
        transition: all .3s;
    }
    .forms-page header .options button:hover{
        color: #fff;
    }

    .forms-page nav{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 250px;
        margin: auto;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        color: rgb(27, 27, 27);
    }

    .forms-page section{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        margin-top: 2%;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-y: auto;
        color: #222;
    }

    .forms-page section h1{
        font-size: 1.4rem;
        color: #222;
        margin-bottom: 10px; 
    }

    .forms-page section .line{
        width: 100%;
        height: 1px;
        background-color: #c2c2c2;
        margin-bottom: 10px;
    }

    .forms-page section .info{
        width: 100%;
        height: 100%;
    }

    .forms-page section form{
        width: 100%;
        padding: 0 5%;
    }

    .forms-page section button{
        position: relative;
        bottom: 0;
    }

    .forms-page footer{
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #000;
    }
    .forms-page .progress{
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background-color: #0e3a74;
        margin-top: -105px;
    }
    .forms-page .progress .progress-bar{
        background-color: #006eff;
    }
    .forms-page .pbar-1{
        width: 12%;
    }
    .forms-page .pbar-2{
        width: 38%;
    }
    .forms-page .pbar-3{
        width: 62%;
    }
    .forms-page .pbar-4{
        width: 88%;
    }
    .forms-page .pbar-5{
        width: 100%;
    }
    .forms-page nav ul{
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-around;
        z-index: 1;
    }
    .forms-page nav ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }
    .forms-page nav .nav-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        font-size: 1.8rem !important;
        border-radius: 50%;
        background-color: #0e3a74;
        color: #fff;
    }

    .forms-page nav .active{
        background-color: #006eff;
    }
</style>
<div class="forms-page">
    <header>
        <h1>PPGI</h1>
        <div class="options">
            <button>Sair</button>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <i class="nav-icon fas fa-user active"></i>
                Dados
            </li>
            <li>
                <i class="nav-icon fas fa-history"></i>
                Histórico
            </li>
            <li>
                <i class="nav-icon fas fa-project-diagram"></i>
                Proposta de Projeto
            </li>
            <li>
                <i class="nav-icon fas fa-check"></i>
                Confirmação
            </li>
        </ul>
        <div class="progress">
            <div class="progress-bar pbar-1" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </nav>
    <section class="dados-pessoais">
        <div class="row info">
            <h1>Identificação do Candidato</h1>
            <span class="line"></span>
            <form>
                <div class="row">
                    <div class="col-md-6 campo-candidato-nome">
                        <label class="control-label" for="candidato-nome">
                            <font color="#FF0000">*</font>
                            <b>Nome:</b>
                        </label>
                        <input id="candidato-nome" class="form-control" type="text" name="Candidato[nome]" value="" maxlength="60"/>
                        <div class="help-block"></div>
                    </div>
                    <div class="col-md-3 campo-candidato-datanascimento">
                        <label class="control-label" for="candidato-nome">
                            <font color="#FF0000">*</font>
                            <b>Data de Nascimento:</b>
                        </label>
                        <input id="candidato-datanascimento" class="form-control" type="text" name="Candidato[datanascimento]" value="" data-plugin-inputmask=""/>
                        <div class="help-block"></div>
                    </div>
                    <div class="col-md-3 campo-candidato-sexo" role="radiogroup">
                        <label class="control-label" for="candidato-nome">
                            <font color="#FF0000">*</font>
                            <b>Sexo:</b>
                        </label>
                        <div id="candidato-sexo" role="radiogroup">
                            <label>
                                <input type="radio" name="Candidato[sexo]" value="M">
                                Masculino
                            </label>
                            <label>
                                <input type="radio" name="Candidato[sexo]" value="F">
                                Feminino
                            </label>
                        </div>
                    </div>
                </div>
                <br class="row">
                    <div class="col-md-6 campo-candidato-nomesocial">
                        <label class="control-label" for="candidato-nomesocial">
                            <b>Nome Social:</b>
                        </label>
                        <input id="candidato-nomesocial" class="form-control" type="text" name="Candidato[nomesocial]" value="" maxlength="60"/>
                        <div class="help-block"></div>
                    </div>
                    <div class="col-md-4 campo-candidato-cep">
                        <label class="control-label" for="candidato-cep">
                            <font color="#FF0000">*</font>
                            <b>CEP:</b>
                        </label>
                        <input id="candidato-cep" class="form-control" type="text" name="Candidato[cep]" value="" data-plugin-inputmask=""/>
                        <div class="help-block"></div>
                    </div>
                    <div class="col-md-2 campo-candidato-uf">
                        <label class="control-label" for="candidato-uf">
                            <font color="#FF0000">*</font>
                            <b>Estado:</b>
                        </label>
                        <select id="candidato-uf" class="form-control" name="Candidato[uf]">
                            <option value="">Selecione UF:</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AM">AM</option>
                            <option value="AP">AP</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MG">MG</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="PR">PR</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="RS">RS</option>
                            <option value="SC">SC</option>
                            <option value="SE">SE</option>
                            <option value="SP">SP</option>
                            <option value="TO">TO</option>
                        </select>
                        <div class="help-block"></div>
                    </div>
                    <div class="row">

                    <div class="col-md-3 field-candidato-cidade has-error">
                        <label class="control-label" for="candidato-cidade"><font color="#FF0000">*</font> <b>Cidade:</b></label>
                        <input type="text" id="candidato-cidade" class="form-control" name="Candidato[cidade]" value="" maxlength="40" aria-invalid="true">

                        <div class="help-block">“Cidade” não pode ficar em branco.</div>
                    </div>
                    <div class="col-md-6 field-candidato-endereco">
                        <label class="control-label" for="candidato-endereco"><font color="#FF0000">*</font> <b>Endereço:</b></label>
                        <input type="text" id="candidato-endereco" class="form-control" name="Candidato[endereco]" value="" maxlength="160">

                        <div class="help-block"></div>
                    </div>
                    <div class="col-md-3 field-candidato-bairro">
                        <label class="control-label" for="candidato-bairro"><font color="#FF0000">*</font> <b>Bairro:</b></label>
                        <input type="text" id="candidato-bairro" class="form-control" name="Candidato[bairro]" value="" maxlength="50">

                        <div class="help-block"></div>
                        </div>   
                    </div>
            <div class="row">
                    <div class="col-md-12 field-candidato-nacionalidade">
                        <label class="control-label"><font color="#FF0000">*</font> <b>Nacionalidade:</b></label>
                        <input type="hidden" name="Candidato[nacionalidade]" value=""><div id="candidato-nacionalidade" role="radiogroup"><label><input type="radio" name="Candidato[nacionalidade]" value="1"> Brasileira</label>
                        <label><input type="radio" name="Candidato[nacionalidade]" value="2"> Estrangeira</label></div>

                        <div class="help-block"></div>
                    </div>
                    <div id="divEstrangeiro" style="display: none;">
                        <p class="col-md-12" align="justify">
                            <b>Estes campos são obrigatórios para candidatos com nacionalidade Estrangeira</b>
                        </p>
                        <div class="col-md-6 field-candidato-pais">
                            <label class="control-label" for="candidato-pais"><font color="#FF0000">*</font> <b>País:</b></label>
                            <input type="text" id="candidato-pais" class="form-control" name="Candidato[pais]" maxlength="20">

                            <div class="help-block"></div>
                        </div>
                        <div class="col-md-6 field-candidato-passaporte">
                            <label class="control-label" for="candidato-passaporte"><font color="#FF0000">*</font> <b>Passaporte:</b></label>
                            <input type="text" id="candidato-passaporte" class="form-control" name="Candidato[passaporte]" maxlength="20">

                            <div class="help-block"></div>
                        </div>        
                    </div>
                    <div id="divBrasileiro" style="display: none;">
                        <p class="col-md-12" align="justify">
                            <b>Estes campos são obrigatórios para candidatos com nacionalidade Brasileira</b>
                        </p>
                        <div class="col-md-3 field-candidato-cpf">
                            <label class="control-label" for="candidato-cpf"><font color="#FF0000">*</font> <div style="display:inline;" id="corCPF"><b>CPF:</b> </div></label>
                            <input type="text" id="candidato-cpf" class="form-control" name="Candidato[cpf]" value="" data-plugin-inputmask="inputmask_a877fc8b">

                            <div class="help-block"></div>
                        </div>   
                        <div id="errocpf" style="color:#a94442; display:none;"> 
                            CPF é campo obrigatório para brasileiros 
                        </div>
                    </div>
            </div>
        </form>
        <!-- Fim da Identificação do Candidato -->
        <h1>Telefones para Contato</h1>
        <span class="line"></span>
        <form>
            <div class="row">
                <div class="col-md-3 field-candidato-telresidencial">
                    <label class="control-label" for="candidato-telresidencial"><font color="#FF0000">*</font> <b>Telefone Principal:</b></label>
                    <input type="text" id="candidato-telresidencial" class="form-control" name="Candidato[telresidencial]" data-plugin-inputmask="inputmask_32e8983f">

                    <div class="help-block"></div>
                </div>
                <div class="col-md-3 field-candidato-telcelular">
                    <label class="control-label" for="candidato-telcelular">Telefone Alternativo:</label>
                    <input type="text" id="candidato-telcelular" class="form-control" name="Candidato[telcelular]" data-plugin-inputmask="inputmask_32e8983f">

                    <div class="help-block"></div>
                </div>    
            </div>
        </form>
        <h1>Dados da Inscrição</h1>
        <span class="line"></span>
        
        <form>
            <div class="row">
                
            <div class="col-md-5 field-candidato-regime">
                <label class="control-label"><font color="#FF0000">*</font> <b>Regime de Dedicação:</b></label>
                <input type="hidden" name="Candidato[regime]" value="">
                <div id="candidato-regime" role="radiogroup"><label><input type="radio" name="Candidato[regime]" value="1"> Integral</label>
                    <label>
                        <input type="radio" name="Candidato[regime]" value="2"> 
                        Parcial
                    </label>
                </div>
                <div class="help-block"></div>
            </div>    
        </div>

        <div class="row">
            <div class="col-md-5 field-candidato-cotas">
                <label class="control-label" for="candidato-cotas"><font color="#FF0000">*</font> <b>Cotista?</b></label>
                <div class="form-group">
                    <input type="hidden" name="Candidato[cotas]" value="0">
                    <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-off bootstrap-switch-id-candidato-cotas bootstrap-switch-animate" style="width: 101.333px;">
                        <div class="bootstrap-switch-container" style="width: 149px; margin-left: -49.6667px;">
                            <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 49.6667px;">
                                Sim
                            </span>
                            <span class="bootstrap-switch-label" style="width: 49.6667px;">
                                &nbsp;
                            </span>
                            <span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 49.6667px;">
                                Não
                            </span>
                            <input type="checkbox" id="candidato-cotas" class="form-control" name="Candidato[cotas]" value="1" data-krajee-bootstrapswitch="bootstrapSwitch_623784a5">
                        </div>
                    </div>
                </div>

                <div class="help-block"></div>
            </div>
            <div id="divCotas" style="display: none">
                <div class="col-md-7 field-candidato-cotatipo">
                    <label class="control-label" for="candidato-cotatipo">
                        <font color="#FF0000">*</font> 
                        <b>Tipo de Cota:</b>
                    </label>
                    <select id="candidato-cotatipo" class="form-control" name="Candidato[cotaTipo]">
                        <option value="">Selecione uma Opção..</option>
                        <option value="Indio">Índio</option>
                        <option value="Negro">Negro</option>
                        <option value="Pardo">Pardo</option>
                        <option value="Pessoa com deficiência (PCD)">Pessoa com deficiência (PCD)</option>
                    </select>

                    <div class="help-block"></div>
                </div>        
            </div>    
        </div>
        <div class="row">
            <div class="col-md-5 field-candidato-deficiencia">
                <label class="control-label" for="candidato-deficiencia"><font color="#FF0000">*</font> <b>Possui algum tipo de problema de saúde física ou psiquiátrica?</b></label>
                <div class="form-group">
                    <input type="hidden" name="Candidato[deficiencia]" value="0">
                    <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-off bootstrap-switch-id-candidato-deficiencia bootstrap-switch-animate" style="width: 101.333px;">
                        <div class="bootstrap-switch-container" style="width: 149px; margin-left: -49.6667px;">
                            <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 49.6667px;">
                                Sim
                            </span>
                            <span class="bootstrap-switch-label" style="width: 49.6667px;">
                                &nbsp;
                            </span>
                            <span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 49.6667px;">
                                Não
                            </span>
                            <input type="checkbox" id="candidato-deficiencia" class="form-control" name="Candidato[deficiencia]" value="1" data-krajee-bootstrapswitch="bootstrapSwitch_623784a5">
                        </div>
                    </div>
                </div>

                <div class="help-block"></div>
            </div>
            <div id="divDeficiencia" style="display: none">
                <div class="col-md-7 field-candidato-deficienciatipo">
                    <label class="control-label" for="candidato-deficienciatipo">
                        <b>Qual?</b>
                    </label>
                    <input type="text" id="candidato-deficienciatipo" class="form-control" name="Candidato[deficienciaTipo]">

                    <div class="help-block"></div>
                </div>        
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 field-candidato-solicitabolsa">
                <label class="control-label" for="candidato-solicitabolsa"><font color="#FF0000">*</font> <b>Solicita Bolsa de Estudo?</b></label>
                <div class="form-group">
                    <input type="hidden" name="Candidato[solicitabolsa]" value="0">
                    <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-off bootstrap-switch-id-candidato-solicitabolsa bootstrap-switch-animate" style="width: 101.333px;">
                        <div class="bootstrap-switch-container" style="width: 149px; margin-left: -49.6667px;">
                            <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 49.6667px;">
                                Sim
                            </span>
                            <span class="bootstrap-switch-label" style="width: 49.6667px;">
                                &nbsp;
                            </span>
                            <span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 49.6667px;">
                                Não
                            </span>
                            <input type="checkbox" id="candidato-solicitabolsa" class="form-control" name="Candidato[solicitabolsa]" value="1" data-krajee-bootstrapswitch="bootstrapSwitch_623784a5">
                        </div>
                    </div>
                </div>

                <div class="help-block"></div>
            </div>    
        </div>
               
            </form>
        </div>
        <button>Salvar e Continuar</button>
    </section>
    <section class="historico">
        <h1>Histórico Acadêmico/Profissional</h1>
        <button>Salvar e Continuar</button>
    </section>
    <section class="proposta">
        <h1>Proposta de Trabalho e Documentos</h1>
        <button>Salvar e Continuar</button>
    </section>
    <section class="confirmacao">
        <h1>Tela de Confirmação</h1>
        <button>Salvar e Continuar</button>
    </section>
    <footer>
        <h1>Rodapé</h1>
    </footer>
</div>
<script>   
</script>