<style>
.forms-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2d6de;
    overflow-y: auto;
}
</style>
<div class="forms-page">
    <h1 class="title">Página do Formulário</h1>
</div>
<script></script>