<style>
  .forms-page {
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow-y: auto;
  }

  .forms-page header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 50px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 10px 45px;
    z-index: 9999;
  }

  .forms-page header h1 {
    font-size: 1.4rem;
    color: #dbdbdb;
    cursor: pointer;
  }

  .forms-page header h1:hover {
    color: #fff;
  }

  @media screen and (max-width: 720pt) {
    .forms-page header {
      padding: 10px 15px;
    }
  }

  .forms-page header .options {
    display: flex;
    align-items: center;
  }

  .forms-page header .options button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #c7c7c7;
    transition: all .3s;
  }

  .forms-page header .options button:hover {
    color: #fff;
  }

  .forms-page nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;

    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(27, 27, 27);
  }

  .forms-page section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    color: #222;
  }

  .forms-page section h1 {
    font-size: 1.4rem;
    color: #222;
    margin-bottom: 10px;
  }

  .forms-page section .line {
    width: 100%;
    height: 1px;
    background-color: #c2c2c2;
    margin-bottom: 10px;
  }

  .forms-page section .info {
    width: 100%;
    height: 100%;
  }

  .forms-page section form {
    width: 100%;
    padding: 0 5%;
  }

  .forms-page section button {
    position: relative;
    bottom: 0;
  }

  .forms-page footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000;
  }

  .forms-page .progress {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.5);
    margin-top: -105px;
  }

  .forms-page .progress .progress-bar {
    background-color: #006eff;
  }

  .forms-page .pbar-1 {
    width: 12%;
  }

  .forms-page .pbar-2 {
    width: 38%;
  }

  .forms-page .pbar-3 {
    width: 62%;
  }

  .forms-page .pbar-4 {
    width: 88%;
  }

  .forms-page .pbar-5 {
    width: 100%;
  }

  .forms-page nav ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  .forms-page nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }

  .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    font-size: 1.8rem !important;
    border-radius: 50%;
    background-color: #7FB6FF;
    color: #fff;
  }

  .nav-icon.active {
    background-color: #006eff;
    color: #fff;
  }

  .custom-button {
    margin-right: 10px;
    /* Adicione a margem desejada entre os botões */
    margin-bottom: 10px;
    /* Adicione a margem desejada na parte inferior dos botões (espaço vertical) */
  }
</style>
<link href="/script-adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">

<div class="forms-page">
  <header>
    <h1>PPGI</h1>
    <div class="options">
      <button>Sair</button>
    </div>
  </header>



  {{!-- ALTERAÇÃO PARA NOVO FORMULARIO --}}

  <section class="content">
    <nav>
      <ul>
        <li>
          <i class="nav-icon fas fa-user active"></i>
          Dados
        </li>
        <li>
          <i class="nav-icon fas fa-history active"></i>
          Histórico
        </li>
        <li>
          <i class="nav-icon fas fa-project-diagram"></i>
          Proposta de Projeto
        </li>
        <li>
          <i class="nav-icon fas fa-check"></i>
          Confirmação
        </li>
      </ul>
      <div class="progress">
        <div class="progress-bar pbar-2" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <form id="candidato-formulario2">
        <input id="csrfToken" type="hidden" name="_csrf" value="{{csrfToken}}">
        <input id="email" type="hidden" value="{{email}}">
        <input id="editalPosicao" type="hidden" value="{{editalPosicao}}">


        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Curso de Graduação</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="form-group col-6">
                <label for="candidato-curso">
                  <font color="#FF0000">*</font>
                  <b>Curso:</b>
                </label>
                <input class="form-control" id="candidato-curso" placeholder="Insira seu curso" type="text" name="Curso"
                  value="" maxlength="60">
              </div>

              <div class="col-md-6 ">
                <label class="control-label" for="candidato-instituicao">
                  <font color="#FF0000">*</font>
                  <b>Instituição:</b>
                </label>
                <input class="form-control" id="candidato-instituicao" placeholder="Insira sua instituição" type="text"
                  name="Instituicao" value="" maxlength="60">
              </div>
            </div>
            <div class="col-md-3 ">
              <label class="control-label" for="candidato-ano">
                <font color="#FF0000">*</font>
                <b>Ano de Egresso:</b>
              </label>
              <input class="form-control" id="candidato-ano" placeholder="Insira o ano" type="text" name="AnoEgresso"
                value="" maxlength="60">
            </div>

          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Curso de Pós-Graduação Stricto-Senso:</h3>
          </div>


          <div class="card-body">
            <div class="row">
              <div class="form-group col-6">
                <label for="candidato-curso-pos">
                  <b>Curso:</b>
                </label>
                <input class="form-control" id="candidato-curso-pos" type="text" name="Curso-Pos" value=""
                  maxlength="60">
              </div>

              <div class="col-md-6 " role="radiogroup">
                <label class="control-label" for="candidato-curso-tipo">
                  <b>Tipo:</b>
                </label>
                <div id="candidato-curso-tipo" role="radiogroup"
                  style="display: flex; align-content:center; gap: 20px; max-width: 100%; flex-wrap: wrap;">
                  <div class="icheck-primary d-inline">
                    <input type="radio" id="Tipo1" name="CursoTipo">
                    <label for="Tipo1"> Mestrado Acadêmico
                    </label>
                  </div>

                  <div class="icheck-primary d-inline">
                    <input type="radio" id="Tipo2" name="CursoTipo">
                    <label for="Tipo2">Mestrado Profissional
                    </label>
                  </div>
                  <div class="icheck-primary d-inline">
                    <input type="radio" id="Tipo3" name="CursoTipo">
                    <label for="Tipo3">Doutorado
                    </label>
                  </div>
                  <button id="limparSelecao">Limpar Seleção</button>

                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6 ">
                <label class="control-label" for="candidato-instituicao-pos">
                  <b>Instituição:</b>
                </label>
                <input class="form-control" id="candidato-instituicao-pos" type="text" name="InstituicaoPos" value=""
                  maxlength="60">
              </div>
              <div class="col-md-3">
                <label class="control-label" for="candidato-ano-pos">
                  <b>Ano de Egresso:</b>
                </label>
                <input class="form-control" id="candidato-ano-pos" type="text" name="AnoEgressoPos">
              </div>
            </div>

          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Curriculum Vittae</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <label class="control-label" for="vittaepdf">
                  <font color="#FF0000">*</font>
                  <b>Curriculum Vittae PDF (no formato Lattes - http://lattes.cnpq.br):</b>
                </label>
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="vittaepdf" name="VitaePDF">
                    <label class="custom-file-label" for="VitaePDF">Escolher arquivo</label>
                  </div>
                </div>


                <label class="control-label" for="vittaexml">
                  <b>Curriculum Vittae XML no formato Lattes - http://lattes.cnpq.br (não incluir significa não ter
                    publicações a serem contadas na seleção):</b>
                </label>
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="vittaexml" name="VitaeXML">
                    <label class="custom-file-label" for="VitaeXML">Escolher arquivo</label>
                  </div>
                </div>

              </div>
              <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
                <button onclick="enviarDocumentos()" type="button" class="btn btn-block btn-primary"
                  style="width:50%">Enviar</button>
              </div>
            </div>


          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Aproveitamento de Prova de Seleção Anterior</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="candidato-prova">
                  <b>Caso você deseja aproveitar a nota de uma prova de seleção PPGI de algum ano anterior (no máximo 2
                    anos), pro favor faça o upload do PDF da prova através da opção abaixo:
                  </b>
                </label>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="candidato-prova" name="Prova">
                    <label class="custom-file-label" for="Prova">Escolher arquivo</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Experiência Acadêmica</h3>
          </div>

          <div class="card-body">
            <button id="add-experiencia-button" class="btn btn-primary">Adicionar Experiência</button>
            <div id="experiencia-container">
              <div class="row experiencia-row">
                <div class="col-4">
                  <label class="control-label" for="candidato-experiencia-instituicao">
                    Instituição Academica:
                  </label>
                  <input class="form-control" id="candidato-experiencia-instituicao" type="text" name="Experiencia"
                    value="" maxlength="60">
                </div>

                <div class="col-4">
                  <label class="control-label" for="candidato-experiencia-atividade">
                    Atividade:
                  </label>
                  <input class="form-control" id="candidato-experiencia-atividade" type="text"
                    name="ExperienciaAtividade" value="" maxlength="60">
                </div>

                <div class="col-4">
                  <label class="control-label" for="candidato-experiencia-periodo">
                    Período:
                  </label>
                  <input class="form-control" id="candidato-experiencia-periodo" type="text" name="ExperienciaPeriodo"
                    value="" maxlength="60">
                </div>
                <div class="col-1" style="margin-top:10px">
                  <button class="btn btn-danger delete-experiencia-button" style="display: none">Excluir</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col">
              <button type="submit" class="btn btn-success float-right custom-button">
                Salvar e Continuar
              </button>
              <button onclick="voltarFormulario()" class="btn btn-warning float-right custom-button">
                Passo Anterior
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<footer>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const addButton = document.getElementById("add-experiencia-button");
    const experienciaContainer = document.getElementById("experiencia-container");
    const exemploRow = document.querySelector(".experiencia-row");

    addButton.addEventListener("click", function (e) {
      // Crie um clone da linha de exemplo
      e.preventDefault();
      const newExperienciaRow = exemploRow.cloneNode(true);

      // Limpe os valores dos campos de input no novo clone
      const inputs = newExperienciaRow.querySelectorAll("input");
      inputs.forEach(input => input.value = "");

      // Adicione o novo clone ao container de experiência
      experienciaContainer.appendChild(newExperienciaRow);

      // Verifique o número de experiências e mostre o botão "Excluir" se houver mais de uma
      const experiencias = experienciaContainer.getElementsByClassName("experiencia-row");
      if (experiencias.length > 1) {
        for (const experiencia of experiencias) {
          const deleteButton = experiencia.querySelector(".delete-experiencia-button");
          deleteButton.style.display = "inline-block";
          deleteButton.addEventListener("click", function () {
            experienciaContainer.removeChild(experiencia);
          });
        }
      }
    });
  });

  $(document).ready(function () {
    $("#limparSelecao").on("click", function (e) {
      e.preventDefault()

      $("#candidato-curso-tipo input[type='radio']").prop("checked", false);
    });
  });

  $.validator.addMethod("conjuntoPreenchido", function (value, element) {
    const cursoPos = $("#candidato-curso-pos").val();
    const instituicaoPos = $("#candidato-instituicao-pos").val();
    const anoEgressoPos = $("#candidato-ano-pos").val();
    const cursoTipoChecked = $("#Tipo1").is(":checked") || $("#Tipo2").is(":checked") || $("#Tipo3").is(":checked");

    return (!cursoPos && !instituicaoPos && !anoEgressoPos && !cursoTipoChecked) || (cursoPos && instituicaoPos && anoEgressoPos && cursoTipoChecked);
  }, "Preencha o conjunto (Curso:, Instituição:, Ano de Egresso:) e Tipo: juntos ou deixe todos vazios.");

  $(document).ready(function () {
    $("#candidato-formulario2").validate({
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('div').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },
      rules: {
        "Curso": {
          required: true
        },
        "Instituicao": {
          required: true
        },
        "AnoEgresso": {
          required: true
        },
        "Curso-Pos": {
          conjuntoPreenchido: true
        },
        "InstituicaoPos": {
          conjuntoPreenchido: true
        },
        "AnoEgressoPos": {
          conjuntoPreenchido: true
        },
        "VitaePDF": {
          required: true
        }
      },
      messages: {
        "Curso": {
          required: "Este campo é obrigatório."
        },
        "Instituicao": {
          required: "Este campo é obrigatório."
        },
        "AnoEgresso": {
          required: "Este campo é obrigatório."
        },
        "Curso-Pos": {
          conjuntoPreenchido: "Preencha o conjunto (Curso:, Instituição:, Ano de Egresso:) e Tipo: juntos ou deixe todos vazios."
        },
        "InstituicaoPos": {
          conjuntoPreenchido: "Preencha o conjunto (Curso:, Instituição:, Ano de Egresso:) e Tipo: juntos ou deixe todos vazios."
        },
        "AnoEgressoPos": {
          conjuntoPreenchido: "Preencha o conjunto (Curso:, Instituição:, Ano de Egresso:) e Tipo: juntos ou deixe todos vazios."
        },
        "VitaePDF": {
          required: "Este campo é obrigatório."
        }
      },
      submitHandler: function (form, e) {
        e.preventDefault();
        const csrfToken = $("#csrfToken").val();
        const email = $("#email").val();
        const editalPosicao = $("#editalPosicao").val();
        const id = $("#id").val();
        console.log("OOOOi")
        /*$.ajax({
          url: '',
          type: 'POST',
          data: {
            data: $(form).serialize(),
            _csrf: csrfToken,
            email: email,
            editalPosicao: editalPosicao,
            id: id
          },
          success: function (data) {
            $.validator.setDefaults({
              submitHandler: function () {
                alert("Form successful submitted!");
              }
            });
          },
          error: function (data) {
            console.log(data)
          }
        });*/
      }
    });
  });

  function enviarDocumentos() { }
  function voltarFormulario() { }
  function submitForm() { }

</script>