{{> header}}
{{> sidebar module='linhasDePesquisa' page='linhasDePesquisa-busca'}}
<style>
	/* Style your page here */
</style>
<main class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-9">
					<h1>{{nomePesquisa}}</h1>
				</div>
				<div class="col-sm-3">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">Página Inicial</li>
						<li class="breadcrumb-item">Linhas de Pesquisa</li>
						<li class="breadcrumb-item active">{{nomePesquisa}}</li>
					</ol>
				</div>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary" onclick="voltarPagina()">
					<i class="fa fa-arrow-left color-white"></i>
					Voltar
				</button>
				<button type="button" class="btn btn-primary">
					<i class="fas fa-edit color-white"></i>
					Editar
				</button>
				<button type="button" class="btn btn-danger">
					<i class="fas fa-times color-white"></i>
					Remover
				</button>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Dados da Linha de Pesquisa</h3>
						</div>
						<div class="card-body">
							<table id="dataTable2" class="table table-bordered table-hovers">
								<tbody>
									<tr>
										<th>Nome</th>
										<td>{{nomePesquisa}}</td>
									</tr>
									<tr>
										<th>Sigla</th>
										<td>{{sigla}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<script>
	function voltarPagina() {
		window.history.back();
	}
</script>
{{> footer}}