{{> header}}
{{> sidebar module='selecaoppgi' page='edital-adicionar'}}
{{ setTitle title="Criar Novo Edital de Seleção para o PPGI" }}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid ml-2">
            <div class="d-flex justify-content-between flex-wrap gap-1 ">
                <div>
                    <h1>Criar Novo Edital de Seleção para o PPGI</h1>
                </div>
                <div>
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Página Inicial </a></li>
                        <li class="breadcrumb-item active">Adicionar</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-md-4 col-lg-4 col-xl-3 mt-4">
                    <a class="btn btn-warning color-white" id="voltarBtn">
                        <i class="fa fa-arrow-left"></i>
                        Voltar
                    </a>
                    <a class="btn btn-success color-white" href="/edital/listEdital">
                        <i class="fas fa-list"></i>
                        Listar Editais
                    </a>      
                </div>
                
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">

            <div class="col-md-12">

                <form action="/edital/addEdital" method="post"  id="adicionarSelecaoForm">
                    <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}">

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><b>Dados do Edital</b></h3>
                        </div>
                        
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <font color="#FF0000">*</font>
                                            <label> Número do Edital:</label>
                                            <input  placeholder="001-2024" type="text" class="form-control edital" id="num_edital" name="num_edital" required>
                                            <div class="hint-block">
                                                <span>Ex.: 001-2023, sendo o <b>'001'</b> o número do edital e <b>'2023'</b> o ano</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <font color="#FF0000">*</font>
                                            <label for="URL">URL do Edital</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fa fa-globe"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="documento" name="documento" required>
                                            </div>
                                            <div class="hint-block">Ex.: http://www.propesp.ufam.edu.br</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row mt-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <font color="#FF0000">*</font>
                                            <label>Datas de Início e Fim das Inscrições:</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control float-right" id="datas" name="datas" required>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>                                                         
                            </div>
                        </div> 
                    </div>


                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><b>Configuração da Inscrição e Vagas</b></h3>
                        </div>
                        <div class="card-body">                        
                            <div class="form-group">
                                <div class="form-row">                                        
                                    <div class="col-sm-5 col-md-3">
                                        <div class="form-group">
                                            <div class="form-row">                                                
                                                <label for="carta_recomendacao"> <font color="#FF0000">* </font>Carta de Recomendação? </label>
                                            </div>
                                            <input type="checkbox" name="carta_recomendacao" data-bootstrap-switch
                                                data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                data-off-text="Não" id="carta_recomendacao" disabled>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-md-3 ">
                                        <div class="form-group">
                                            <div class="form-row">            
                                                <label for="carta_orientador"> <font color="#FF0000">* </font>Carta Orientador?</label>
                                            </div>
                                            <input type="checkbox" name="carta_orientador" data-bootstrap-switch
                                                data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                data-off-text="Não" id="carta_orientador">
                                        </div>   
                                    </div>
                                </div>
                            </div>
                                                        

                            <div class="form-group">                            
                                <div class="form-row">
                                    <div class="col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <div class="form-row">            
                                                <label for="mestrado"> <font color="#FF0000">* </font>Mestrado?</label>
                                            </div>
                                            <input type="checkbox" name="mestrado" checked data-bootstrap-switch
                                                data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                data-off-text="Não" id="mestrado">
                                        </div>                                            
                                    </div>

                                    <div class="col-sm-4">                                                
                                        <label> <font color="#FF0000">* </font>Vagas Regulares para Mestrado:</label>
                                        <input type="number" name="vaga_regular_mestrado" class="form-control "
                                            placeholder="Vagas Regulares para Mestrado" required
                                            id="vaga_regular_mestrado" value="0" min="0">
                                    </div>

                                    <div class="col-sm-5 col-md-5">
                                        <label> <font color="#FF0000">* </font>Vagas Suplementares para Mestrado:</label>
                                        <input type="number" class="form-control " name="vaga_suplementar_mestrado"
                                            placeholder="Vagas Regulares para Mestrado" required
                                            id="vaga_suplementar_mestrado" value="0" min="0">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">                            
                                <div class="form-row">
                                    <div class="col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <div class="form-row">            
                                                <label for="doutorado"> <font color="#FF0000">* </font>Doutorado?</label>
                                            </div>
                                            <input type="checkbox" name="doutorado" checked data-bootstrap-switch
                                                data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                                data-off-text="Não" id="doutorado">
                                        </div> 
                                    </div>

                                    <div class="col-sm-4">                                                
                                        <label> <font color="#FF0000">* </font>Vagas Regulares para Doutorado:</label>
                                        <input type="number" name="vaga_regular_doutorado" class="form-control "
                                            placeholder="Vagas Regulares para Doutorado" required
                                            id="vaga_regular_doutorado" value="0" min="0">
                                    </div>

                                    <div class="col-sm-5 col-md-5">
                                        <label> <font color="#FF0000">* </font>Vagas Suplementares para Doutorado:</label>
                                        <input type="number" class="form-control" name="vaga_suplementar_doutorado"
                                            placeholder="Vagas Regulares para Doutorado" required
                                            id="vaga_suplementar_doutorado" value="0" min="0">
                                    </div>
                                </div>
                            </div>                                                      
                        </div>

                        <div class="card-footer">
                            <div style="margin-right: auto;" class="d-flex justify-content-end">
                                <button id="botaoSubmit" type="button" class="btn btn-success float-right" onclick="submitForm()">
                                    <i class="fas fa-check-circle"></i>
                                    Criar Edital
                                </button>
                            </div>
                        </div>

                    </div>      
                </form>        
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>



<script>    

    document.getElementById("voltarBtn").addEventListener("click", function() {
        window.history.back();
    });

    //verifica se pelo menos um dos quatro campos de vagas tem valor maior que 0
    function verificaVagas() {
        const vaga_regular_mestrado = parseInt($('#vaga_regular_mestrado').val());
        const vaga_suplementar_mestrado = parseInt($('#vaga_suplementar_mestrado').val());
        const vaga_regular_doutorado = parseInt($('#vaga_regular_doutorado').val());
        const vaga_suplementar_doutorado = parseInt($('#vaga_suplementar_doutorado').val());

        if (
            vaga_regular_mestrado > 0 ||
            vaga_suplementar_mestrado > 0 ||
            vaga_regular_doutorado > 0 ||
            vaga_suplementar_doutorado > 0
        ) {
            return true;             
        }

        return false;
    }


    //se o switch estiver desabilitado, bloqueia o campo correspondente e altera o valor pra 0
        function toggleFields() {
            let mestradoChecked = $("#mestrado").prop('checked');
            let doutoradoChecked = $("#doutorado").prop('checked');

            let vagaRegularMestrado = $("#vaga_regular_mestrado");
            vagaRegularMestrado.prop('disabled', !mestradoChecked);
            vagaRegularMestrado.val(mestradoChecked ? vagaRegularMestrado.val() : '0');     //se unchecked, valor=0

            let vagaSuplementarMestrado = $("#vaga_suplementar_mestrado");
            vagaSuplementarMestrado.prop('disabled', !mestradoChecked);
            vagaSuplementarMestrado.val(mestradoChecked ? vagaSuplementarMestrado.val() : '0');

            let vagaRegularDoutorado = $("#vaga_regular_doutorado");
            vagaRegularDoutorado.prop('disabled', !doutoradoChecked);
            vagaRegularDoutorado.val(doutoradoChecked ? vagaRegularDoutorado.val() : '0');

            let vagaSuplementarDoutorado = $("#vaga_suplementar_doutorado");
            vagaSuplementarDoutorado.prop('disabled', !doutoradoChecked);
            vagaSuplementarDoutorado.val(doutoradoChecked ? vagaSuplementarDoutorado.val() : '0');            
        }
    

    $(document).ready(function () {
    
        $('#datas').daterangepicker({
            locale: {
                format: 'DD/MM/YYYY', 
                separator: ' - ',
                applyLabel: 'Aplicar',
                cancelLabel: 'Cancelar',
                daysOfWeek: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            },
        });
              

         // Inicialize o switch
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).is(':checked'));
        });
        //--
        
      
        //chamado sempre q o switch mudar
        $("#mestrado, #doutorado").on('switchChange.bootstrapSwitch', function (event, state) {

            toggleFields();

            // Pelo menos um dos campos (Mestrado ou Doutorado) sempre deve estar habilitado
            if (!state) {
                let mestradoChecked = $("#mestrado").prop('checked');
                let doutoradoChecked = $("#doutorado").prop('checked');
                if (!mestradoChecked && !doutoradoChecked) {
                    if (event.target.id === "mestrado") {
                        $("#doutorado").bootstrapSwitch('state', true);
                    } else if (event.target.id === "doutorado") {
                        $("#mestrado").bootstrapSwitch('state', true);
                    }
                }
            }
        });
    });
    
    $.validator.addMethod('notToday', function(value, element) {
        const dates = value.trim().split('-');
        const info = dates[dates.length - 1].split('/');
        const endDate = new Date(info[2], info[1] - 1, info[0]);

        const today = new Date();
        console.log(endDate)
        console.log(today)
        // Zera as horas, minutos, segundos e milissegundos para comparação somente de data
        endDate.setHours(0, 0, 0, 0);
        today.setHours(0, 0, 0, 0);
        return endDate > today; // A data de término deve ser maior que hoje
    }, 'A data de término não pode ser hoje.');
    //validação dos campos do formulário
    $('#adicionarSelecaoForm').validate({ 
        rules: {
            vaga_regular_mestrado: {
                required: true,
                digits: true,                
            },
            vaga_suplementar_mestrado: {
                required: true,
                digits: true,               
            },
            vaga_regular_doutorado: {
                required: true,
                digits: true,                
            },
            vaga_suplementar_doutorado: {
                required: true,
                digits: true,                
            },
            num_edital: {
                required: true,
            },
            documento: {
                required: true,
                url: true,
            },
            datas: {
                required: true,
            },
        },
        messages: {
            vaga_regular_mestrado: {
                required: 'Este campo é obrigatório.',
                digits: 'Por favor, insira apenas números inteiros.',                              
            },
            vaga_suplementar_mestrado: {
                required: 'Este campo é obrigatório.',
                digits: 'Por favor, insira apenas números inteiros.',                
            },
            vaga_regular_doutorado: {
                required: 'Este campo é obrigatório.',
                digits: 'Por favor, insira apenas números inteiros.',                
            },
            vaga_suplementar_doutorado: {
                required: 'Este campo é obrigatório.',
                digits: 'Por favor, insira apenas números inteiros.',                
            },
            num_edital: {
                required: 'Este campo é obrigatório.',
            },
            documento: {
                required: 'Este campo é obrigatório.',
                url: 'Por favor, insira uma URL válida.',
            },
            datas: {
                required: 'Este campo é obrigatório.',
                   
            },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },

        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });


    function pegaDados() {       
        const vaga_regular_mestrado = parseInt($("#vaga_regular_mestrado").val(), 10);
        const vaga_suplementar_mestrado = parseInt($("#vaga_suplementar_mestrado").val(), 10);
        const vaga_regular_doutorado = parseInt($("#vaga_regular_doutorado").val(), 10);
        const vaga_suplementar_doutorado = parseInt($("#vaga_suplementar_doutorado").val(), 10);
        const carta_recomendacao = $('#carta_recomendacao').bootstrapSwitch('state') ? '1' : '0';
        const carta_orientador = $("#carta_orientador").bootstrapSwitch('state') ? '1' : '0';
        const num_edital = $("#num_edital").val();
        const documento = $("#documento").val();
        const data_inicio = $("#datas").data('daterangepicker').startDate.format('YYYY-MM-DD');
        const data_fim = $("#datas").data('daterangepicker').endDate.format('YYYY-MM-DD');


        return {
            vaga_regular_mestrado,
            vaga_suplementar_mestrado,
            vaga_regular_doutorado,
            vaga_suplementar_doutorado,
            carta_recomendacao,
            carta_orientador,
            num_edital,
            documento,
            data_inicio,
            data_fim
        };
    }


    function submitForm() {
 
        const $form = $('#adicionarSelecaoForm');
        const vagas= verificaVagas();
    
        if($form.valid()){
            if(vagas){
                const dados = pegaDados();

                if (dados) {
                    const button = $('#botaoSubmit');
                    button.prop('disabled', true);
                    dados._csrf = $("#_csrf").val();

                    $.ajax({
                        url: '/edital/addEdital',
                        type: 'POST',
                        data: dados,
                        success: function (data) {                               
                            const mensagem = "Edital adicionado no sistema com sucesso";            
                            const expirationTime = new Date(new Date().getTime() + 5000);

                            document.cookie = `showToast=true; expires=${expirationTime.toUTCString()}`;
                            document.cookie = `mensagem=${mensagem}; expires=${expirationTime.toUTCString()}`;
                            window.location.href = '/edital/listEdital';
                        },
                        error: function (data) {     
                            const inputEdital = $("#num_edital");
                            inputEdital.addClass('is-invalid');
                            inputEdital.removeClass('is-valid');
                            inputEdital.parent().find('.invalid-feedback').remove();
                            inputEdital.parent().append('<span id="num_edital-error" class="error invalid-feedback">Erro: Edital já cadastrado</span>');           
                            $(document).Toasts('create', {
                                icon: 'error',
                                class: "bg-danger",
                                autohide: true,
                                delay: 3000,
                                title: 'Erro!',
                                body: data.responseJSON.error
                            })
                            button.prop('disabled', false);
                        },
                        
                    })
                }

            }else{
                $(document).Toasts('create', {
                    icon: 'error',
                    class: "bg-danger",
                    autohide: true,
                    delay: 3000,
                    title: 'Erro!',
                    body: 'Erro: Adicione pelo menos 1 vaga'
                })
            }

        }

    }
</script>


{{> footer}}