{{ setTitle title="Formulário preenchido" }}

<div class="forms-page">
  <!-- Cabeçalho -->
  {{> ppgi/headerRecommendation}}


  <!-- Conteúdo principal -->
  <main class="content container container-main px-3">
    <div class="alert alert-success">
      <h5>
        <i class="icon fas fa-check-circle"></i>
        {{__ "ppgiRecomendacao.filledLetter.title"}}
      </h5>
      {{__ "ppgiRecomendacao.filledLetter.message"}}

      <div class="container-fluid p-0">
        <p class="col-12 p-0 mb-0 mx-0 mt-2 " style="text-align: right">
          {{__ "ppgiRecomendacao.filledLetter.footer"}}
        </p>
      </div>
    </div>
  </main>

  <!-- Rodapé -->
  {{> ppgi/footer}}
</div>