{{ setTitle title="Formulário enviado" }}

<div class="forms-page">
  <!-- Cabeçalho -->
  <header>
    <div class="container d-flex justify-content-between align-items-center py-3">
      <h1 class="header-title">{{__ "ppgi.header.title"}}</h1>
      <div class="options">
        {{> ppgi/selectLanguageHeader}}
      </div>
    </div>
  </header>

  <!-- Conteúdo principal -->
  <main class="content container container-main">
    <div class="alert alert-warning alert-dismissible">
      <h5>
        <i class="icon fas fa-exclamation-triangle"></i>
        {{__ "ppgiRecomendacao.finished.title"}}
      </h5>
      {{__ "ppgiRecomendacao.finished.message"}}
    </div>
  </main>

  <!-- Rodapé -->
  {{> ppgi/footer}}
</div>
