{{ setTitle title="Token inválido" }}

<div class="forms-page">
  <!-- Cabeçalho -->
  {{> ppgi/headerRecommendation}}


  <!-- Conteúdo principal -->
  <main class="content container container-main px-3">
    <div class="alert alert-warning alert-dismissible">
      <h5>
        <i class="icon fas fa-exclamation-triangle"></i>
        {{__ "ppgiRecomendacao.invalidToken.title"}}
      </h5>
      {{__ "ppgiRecomendacao.invalidToken.message"}}
    </div>
  </main>

  <!-- Rodapé -->
  {{> ppgi/footer}}
</div>
