<div class="card card-outline card-primary">
  <div class="card-header"><h3 class="card-title">Etapa 3: Trabalho (Qualificação)</h3></div>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-4">Resumo/Abstract:</dt>
      <dd class="col-sm-8" style="white-space: pre-wrap;">{{defesa.quali.resumoOuAbstract}}</dd>
      
      <dt class="col-sm-4">Palavras-chave:</dt>
      <dd class="col-sm-8">{{defesa.quali.palavrasChaves}}</dd>
      
      <dt class="col-sm-4">Créditos Mínimos OK?</dt>
      <dd class="col-sm-8">{{#if defesa.quali.creditosMinimosOk}}Sim{{else}}Não{{/if}}</dd>
    </dl>
  </div>
</div>