<footer class="custom-footer bg-light" >
  <div class="container container-footer px-3">
    <p id="text-icomp"><strong>ICOMP {{getYearActual}} </strong></p>
    <p><strong>PPGI</strong></p>
  </div>
</footer>