.brand-link {
    text-align: center;
}

.nav-treeview {
    margin-left: 5px;
}

.color-white {
    color: white;
}

.background-warning {
    background-color: #f39c12;
}

.min-width-button {
    min-width: fit-content !important;
}

.space-between {
    justify-content: space-between !important;
}

.profile-options-right {
    
}