 <!-- Corpo do Email -->
 <tr>
   <td style="padding: 20px; font-family: Arial, sans-serif; color: #333333;">
     <p style="font-size: 16px; line-height: 1.5;">
       Prezado(a) {{nameCandidate}},
     </p>
     <p style="font-size: 16px; line-height: 1.5;">
       Seus dados foram cadastrados com sucesso. Sua proposta será analisada e, em breve, teremos a divulgação dos aprovados no processo de seleção do PPGI.
     </p>
     <p style="font-size: 16px; line-height: 1.5;">
       Foram anexados a este e-mail o comprovante de inscrição. Quando solicitado, assine e entregue este formulário na secretaria do PPGI/UFAM, que fica no Instituto de Computação, localizado na
       <a href="https://www.google.com/maps/place/Instituto+de+Computa%C3%A7%C3%A3o+-+IComp/@-3.0883653,-59.9672651,17z/data=!3m1!4b1!4m6!3m5!1s0x926c05202d6fcb1b:0x5bf3a6b7c3755c88!8m2!3d-3.0883653!4d-59.9646902!16s%2Fg%2F1ptwt_851?entry=ttu&g_ep=EgoyMDI1MDUyMS4wIKXMDSoASAFQAw%3D%3D" target="_blank" style="color: #1a73e8; text-decoration: none;">
         Rua Gen. Rodrigo Octávio Jordão Ramos, 3000, SETOR NORTE, Campus Universitário Manaus - AM - CEP 69.077-00
       </a>.
     </p>
     <p style="font-size: 16px; line-height: 1.5;">
       Em caso de dúvidas, por favor, entre em contato com
       <a
         href='mailto:secretariappgi@icomp.ufam.edu.br'
       >secretariappgi@icomp.ufam.edu.br</a>. Não responda este email.<br />
     </p>
     <br>
     <p style="font-size: 16px; line-height: 1.5;">
       Atenciosamente,<br>
       <strong>Coordenação do PPGI/UFAM</strong>
     </p>
   </td>
 </tr>