 <!-- Corpo do Email -->
 <tr>
   <td style="padding: 20px; font-family: Arial, sans-serif; color: #333333;">
     <p style="font-size: 16px; line-height: 1.5;">
       Prezado(a) {{nameCandidate}},
     </p>
     <p style="font-size: 16px; line-height: 1.5;">
       Seus dados foram cadastrados com sucesso. Sua proposta será analisada e, em breve, teremos a divulgação dos aprovados no processo de seleção do PPGI.
     </p>
     <p style="font-size: 16px; line-height: 1.5;">
       Foram anexados a este e-mail o comprovante de inscrição e também os documentos que você enviou. Quando solicitado, assine e entregue este formulário na secretaria do PPGI/UFAM, que fica no Departamento de Ciência da Computação, localizado na Rua Gen. Rodrigo Octávio Jordão Ramos, 3000, SETOR NORTE, Campus Universitário Manaus - AM - CEP 69.077-00.
     </p>
     <br>
     <p style="font-size: 16px; line-height: 1.5;">
       Atenciosamente,<br>
       <strong>Coordenação do PPGI/UFAM</strong>
     </p>
   </td>
 </tr>