<tr>
  <td style="padding: 20px; font-family: Arial, sans-serif; color: #333333;">
    <p style="font-size: 16px; line-height: 1.5;">
      Prezado(a) {{nome}},
      <br />
      Por favor, clique no link abaixo para criar uma nova senha:
      <br />
      <a href='{{url}}'>{{url}}</a>
    </p>
    <p style="font-size: 16px; line-height: 1.5;">
      Este link irá expira em 1 hora.
    </p>
    <p style="font-size: 16px; line-height: 1.5;">
      Atenciosamente,<br>
      <strong>Coordenação do PPGI/UFAM</strong>
    </p>
  </td>
</tr>