<div>
  Prezado(a)
  {{nome}},
  <br />
  Por favor, clique no link abaixo para criar uma nova senha:
  <br />
  <p><a href='{{url}}'>{{url}}</a></p>
  <p>Este link irá expira em 1 hora.</p>
  <br />
  Atenciosamente,
  <br />
  Coordenação do Icomp
  <br />
  Instituto de Computação (IComp)
  <br />
  Universidade Federal do Amazonas (UFAM)
</div>