{{> header}}
{{> sidebar module='salas' page='salas-adicionar'}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-sm-9">
                    <h1>Adicionar Sala</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/salas/gerenciar">Salas</a></li>
                        <li class="breadcrumb-item active">Adicionar</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 col-md-3 col-lg-1 min-width-button">
                    <a type="button" class="btn btn-block btn-secondary" href="/salas/gerenciar">
                        <i class="fa fa-arrow-left color-white"></i>
                        Voltar
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="col-md-7 ">
                <div class="card card-secondary">
                <div class="card-header">
                <h3 class="card-title">Nova Sala</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                    <form id ="formAdicionarSala" method="POST" action="/salas/adicionar">
                     <input type="hidden" name="_csrf" value="{{csrf}}"/> 
                        <div class="card-body ">
                              <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                <label for="nome">
                                    <font color="#FF0000">*</font> Nome:
                                </label>
                                <input type="text" class="form-control" id="nome" name="nome" placeholder="Ex. Auditório 1" required>
                            </div>

                            <div class="form-group col-sm-12 col-md-6 col-lg-5">
                                <label for="numero">
                                    Número:
                                </label>
                                <input type="number" class="form-control" id="numero" name="numero"  min="0" max = '100' placeholder="Ex. 12">
                            </div>
                            </div>
                            
                        

                           <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                <label for="andar">
                                    <font color="#FF0000">*</font> Andar:
                                </label>
                            <input type="number" class="form-control" id="andar" name="andar"  min="1" max = '3' value="1"> 

                            </div>
                            
                            <div class="form-group c  ol-sm-12 col-md-6 col-lg-5">
                                <label for="capacidade">
                                    <font color="#FF0000"></font> Capacidade:
                                </label>
                                <input type="number" class="form-control" id="capacidade" name="capacidade" min="0" max = '100' placeholder="Ex. 30"> 

                            </div>
                           </div>
                               <div class="form-group">
                                <label for="bloco">
                                    <font color="#FF0000">*</font> Bloco:
                                </label>
                                <select class="form-control" id="bloco" name="bloco" required>
                                    <option value="Icomp Tech">Icomp Tech</option>
                                    <option value="IComp 1">IComp 1</option>
                                    <option value="IComp 2">IComp 1</option>
                                    <option value="IComp 3">IComp 3</option>
                                </select>                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Adiconar</button>
                        </div>
                    </form>
                </div> 
        </div>
        <!-- /.card -->
    </section>
</div>


{{> footer}}