<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/inicio" class="brand-link">
    <span class="brand-text">SYSICOMP</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/public/img/user-profile-generic.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block"> {{ nome }} </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/inicio" class="nav-link {{#ifEqual module 'inicio'}}active{{/ifEqual}}">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Início
            </p>
          </a>
        </li>
        <li class="nav-header">Administração</li>
        <li class="nav-item {{#ifEqual module 'usuarios'}}menu-is-open menu-is-opening menu-open{{/ifEqual}}">
          <a href="#" class="nav-link {{#ifEqual module 'usuarios'}}active{{/ifEqual}}">
            <i class="nav-icon fas fa-user-cog"></i>
            <p>
              Usuários
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/usuarios/adicionar"
                class="nav-link {{#ifEqual page 'usuarios-adicionar'}}active{{/ifEqual}} text-sm">
                <i class="fas fa-user-plus nav-icon"></i>
                <p>Adicionar Usuário</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/usuarios/listar" class="nav-link {{#ifEqual page 'usuarios-listar'}}active{{/ifEqual}} text-sm">
                <i class="fas fa-table nav-icon"></i>
                <p>Listar Usuários</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-header">Coordenação PPGI</li>
        <!--<li class="nav-item {{#ifEqual module 'projetos'}}menu-is-open menu-is-opening menu-open{{/ifEqual}}">
          <a href="#" class="nav-link {{#ifEqual module 'projetos'}}active{{/ifEqual}}">
            <i class="nav-icon fas fa-list-ul"></i>
            <p>
              Projetos
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/projetos/adicionar"
                class="nav-link {{#ifEqual page 'projetos-adicionar'}}active{{/ifEqual}} text-sm">
                <i class="fas fa-search-plus nav-icon"></i>
                <p>Adicionar Projeto</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/projetos/listar" class="nav-link {{#ifEqual page 'projetos-listar'}}active{{/ifEqual}} text-sm">
                <i class="fas fa-table nav-icon"></i>
                <p>Listar Projetos</p>
              </a>
            </li>
          </ul>
        </li>-->

        <li class="nav-item {{#ifEqual module 'selecaoppgi'}}menu-is-open menu-is-opening menu-open{{/ifEqual}}">
          <a href="#" class="nav-link {{#ifEqual module 'selecaoppgi'}}active{{/ifEqual}}">
            <i class="nav-icon fas fa-list-ul"></i>
            <p>
              Seleção PPGI
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/edital/addEdital"
                class="nav-link {{#ifEqual page 'edital-adicionar'}}active{{/ifEqual}} text-sm">
                <i class="fas fa-search-plus nav-icon "></i>
                <p>Criar Edital de Seleção</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/edital/listEdital" class="nav-link {{#ifEqual page 'edital-listar'}}active{{/ifEqual}} text-sm">
                <i class="fas fa-table nav-icon"></i>
                <p>Listar Editais de Seleção</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item {{#ifEqual module 'linhasDePesquisa'}}menu-is-open menu-is-opening menu-open{{/ifEqual}}">
          <a href="#" class="nav-link {{#ifEqual module 'linhasDePesquisa'}}active{{/ifEqual}}">
            <i class="nav-icon fas fa-search"></i>
            <p>
              Linhas de Pesquisa
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/linhasdepesquisa/criar" class="nav-link {{#ifEqual page 'linhasDePesquisa-criar'}}active{{/ifEqual}} text-sm">
                <i class="fas fa-search-plus nav-icon"></i>
                <p>Adicionar Linha de Pesquisa</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/linhasdepesquisa/listar" class="nav-link {{#ifEqual page 'linhasDePesquisa-listar'}}active{{/ifEqual}} text-sm">
                <i class="fas fa-table nav-icon"></i>
                <p>Listar Linhas de Pesquisa</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">Professor</li>
        <!--<li class="nav-item">
          <a href="/script-adminlte/pages/widgets.html" class="nav-link">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>
              Gerar Relatório Bancas
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/script-adminlte/pages/widgets.html" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>
              Gerenciar Equipamentos
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/script-adminlte/pages/widgets.html" class="nav-link">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>
              Gerar Cautela
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/script-adminlte/pages/widgets.html" class="nav-link">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>
              Gerar Cautela Avulsa
            </p>
          </a>
        </li>-->
        <li class="nav-item {{#ifEqual module 'salas'}}menu-is-open menu-is-opening menu-open{{/ifEqual}} {{#ifEqual module 'reservas'}}menu-is-open menu-is-opening menu-open{{/ifEqual}} ">
          <a href="#" class="nav-link {{#ifEqual module 'salas'}}active{{/ifEqual}} {{#ifEqual module 'reservas'}}active{{/ifEqual}}">
            <i class="nav-icon far fa-clipboard "></i>
            <p>
              Reserva de Sala
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>

          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/salas/gerenciar" class="nav-link {{#ifEqual module 'salas'}}active{{/ifEqual}}  text-sm">
                <i class="fas fa-table nav-icon"></i>
                <p>Gerenciar Salas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/reservas/gerenciar" class="nav-link {{#ifEqual module 'reservas'}}active{{/ifEqual}}  text-sm">
                <i class="fas fa-table nav-icon"></i>
                <p>Gerenciar Reservas</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item {{#ifEqual module 'horasComplementares'}}menu-is-open menu-is-opening menu-open{{/ifEqual}}">
          <a href="#" class="nav-link {{#ifEqual module 'horasComplementares'}}active{{/ifEqual}}">
            <i class="nav-icon fas fa-list-ul"></i>
            <p>
              Horas Complementares
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/horasComplementares/adicionar"
                class="nav-link {{#ifEqual page 'adicionar-atividade'}}active{{/ifEqual}} text-sm">
                <i class="fas fa-regular fa-plus nav-icon"></i>
                <p>Adicionar Atividade</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/horasComplementares/listar" class="nav-link {{#ifEqual page 'main'}}active{{/ifEqual}} text-sm">
                <i class="fas fa-table nav-icon"></i>
                <p>Listar Atividades</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>