{{> header}}
{{> sidebar module='reservas' page='reservas-adicionar'}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-sm-9">
                    <h1>Adicionar Reserva</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/reservas/gerenciar">Reservas</a></li>
                        <li class="breadcrumb-item active">Adicionar</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 col-md-3 col-lg-1 min-width-button">
                    <a type="button" class="btn btn-block btn-secondary" href="/reservas/gerenciar">
                        <i class="fa fa-arrow-left color-white"></i>
                        Voltar
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Nova Sala</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="formAdicionarSala" method="POST" action="/reservas/adicionar">
                    <input type="hidden" name="_csrf" value="{{csrf}}" />
                    <input type="hidden" name="UsuarioId" value="{{UsuarioId}}" />
                    <div class="card-body ">

                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-10">
                                <label for="atividade">
                                    <font color="#FF0000">*</font> Atividade:
                                </label>
                                <input type="text" class="form-control" id="atividade" name="atividade" required
                                    placeholder="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-10">
                                <label for="bloco">
                                    <font color="#FF0000">*</font> Tipo:
                                </label>
                                <select class="form-control" id="tipo" name="tipo" required>
                                    <option value="Aula">Aula</option>
                                    <option value="Defesa">Defesa</option>
                                    <option value="Exame">Exame</option>
                                    <option value="Reunião">Reunião</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-sm-12 col-md-6 col-lg-10">
                                <label for="SalaId">
                                    <font color="#FF0000">*</font> Sala:
                                </label>
                                <select class="form-control" id="SalaId" name="SalaId" required>
                                    {{#each salas}}
                                    <option value="{{id}}">{{nome}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-sm-12 col-md-6 col-lg-10">
                                <input class="form-check-input ml-3 " type="radio" name="semanal" id="option1"
                                    value="unica">
                                <label class="control-label pl-3 ml-4  mr-5" for="option1">Reserva Única</label>
                                <input class="form-check-input" checked type="radio" name="semanal" id="option2"
                                    value="semanal">
                                <label class="control-label" for="option2">Reserva Semanal</label>
                            </div>
                        </div>
                        <div class="row" id="conditionalInput" tyle="display: none;">

                            <div class="form-group col-sm-12 col-md-6 col-lg-12">
                                <label class="control-label" for="candidato-nome">
                                    <font color="#FF0000"></font>
                                    <b>Dias da semana:</b>
                                </label>
                                <div>
                                    <label class="checkbox-inline ml-3">
                                        <input type="checkbox" id="checkboxOption1" name="dia" value="Segunda"> Segunda
                                    </label>

                                    <label class="checkbox-inline ml-3">
                                        <input type="checkbox" id="checkboxOption2" name="dia" value="Terça"> Terça
                                    </label>

                                    <label class="checkbox-inline ml-3">
                                        <input type="checkbox" id="checkboxOption3" name="dia" value="Quarta"> Quarta
                                    </label>
                                    <label class="checkbox-inline ml-3">
                                        <input type="checkbox" id="checkboxOption3" name="dia" value="Segunda" value="Quinta"> Quinta
                                    </label>
                                    <label class="checkbox-inline ml-3">
                                        <input type="checkbox" id="checkboxOption3" name="dia" value="Sexta"> Sexta
                                    </label>
                                    <label class="checkbox-inline ml-3">
                                        <input type="checkbox" id="checkboxOption3" name="dia" value="Sábado"> Sábado
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="conditionalInput2" style="display: none;">

                            <div class="form-group col-sm-12 col-md-6 col-lg-5">
                                <label for="dataInicio">Data Inicial:</label>
                                <div class="input-group date" id="dataInicio" data-target-input="nearest">
                                    <div class="input-group-append" data-target="#dataInicio"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                    <input type="text" class="form-control datetimepicker-input"
                                        data-target="#dataInicio" name="dataInicio" placeholder="DD-MM-YYYY">

                                </div>
                            </div>

                            <div class="form-group col-sm-12 col-md-6 col-lg-5">
                                <label for="dataTermino">Data Término:</label>
                                <div class="input-group date" id="dataTermino" data-target-input="nearest">
                                    <div class="input-group-append" data-target="#dataTermino"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                    <input type="text" class="form-control datetimepicker-input"
                                        data-target="#dataTermino" name="dataTermino" placeholder="DD-MM-YYYY">

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-5">
                                <label for="horaInicio">Hora Inicio:</label>
                                <div class="input-group date" id="horaInicio" data-target-input="nearest">
                                    <div class="input-group-append" data-target="#horaInicio"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                    </div>
                                    <input type="text" class="form-control datetimepicker-input"
                                        data-target="#horaInicio" name="horaInicio" placeholder='HH:mm'>

                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-5">
                                <label for="horaTermino">Hora Término:</label>
                                <div class="input-group date" id="horaTermino" data-target-input="nearest">
                                    <div class="input-group-append" data-target="#horaTermino"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                    </div>
                                    <input type="text" class="form-control  datetimepicker-input"
                                        data-target="#horaTermino" name="horaTermino" placeholder='HH:mm'>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Adiconar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card -->
    </section>
</div>

{{> footer}}
<!-- Add Bootstrap JS and jQuery (required) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Add Moment.js (required by Datetimepicker) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<!-- Add Bootstrap Datetimepicker JS -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>

<script>

    const radioOption = document.querySelectorAll('input[name="semanal"]');
    const conditionalInput = document.getElementById('conditionalInput');
    const conditionalInput2 = document.getElementById('conditionalInput2');
    radioOption.forEach(radio => {
        radio.addEventListener('change', function () {
            if (this.id === 'option2' && this.checked) {
                conditionalInput.style.display = 'block';
                conditionalInput2.style.display = 'none';
            } else {
                conditionalInput.style.display = 'none';
                conditionalInput2.style.display = 'block';
            }
        });
    });
    // Initialize date and time pickers
    $('#dataTermino,#dataInicio').datetimepicker({
        format: 'DD-MM-YYYY',
        icons: {
            time: 'fa fa-calendar',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-calendar-check-o',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
        }
    });

    $('#horaInicio,#horaTermino').datetimepicker({
        format: 'HH:mm',
        icons: {
            time: 'fa fa-clock',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-calendar-check-o',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
        }
    });
</script>