{{> header}}
{{> sidebar module='reservas' page='reservas-editar'}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Editar Reserva</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/reservas/gerenciar">Reservas</a></li>
                        <li class="breadcrumb-item active">Editar</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 col-md-3 col-lg-1 min-width-button">
                    <a type="button" class="btn btn-block btn-secondary"
                        href="/reservas/gerenciar">
                        <i class="fa fa-arrow-left color-white"></i>
                        Voltar
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="col-md-7">
            <div class="card card-light">
                <form method="POST" action="/reservas/editar/{{sala.id}}"
                    id="editSalaForm">
                    <input type="hidden" name="_csrf" value="{{csrf}}" />
                     <input type="hidden" name="idSolicitante" value="{{reservas.id}}" />
                    <div class="card-body ">
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-8">
                                <label for="idSala">
                                    <font color="#FF0000">*</font> Sala:
                                </label>
                                <select class="form-control" id="idSala"
                                    name="idSala" required>
                                    <option value="Icomp Tech">Icomp Tech</option>
                                    <option value="IComp 1">IComp 1</option>
                                    <option value="IComp 2">IComp 1</option>
                                    <option value="IComp 3">IComp 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-8">
                                <label for="atividade">
                                    Atividade:
                                </label>
                                <input type="text" class="form-control"
                                    id="atividade" name="atividade" required
                                    placeholder="Aula">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="dataInicio">
                                    <font color="#FF0000">*</font> Data Inicio:
                                </label>
                                <input type="date" class="form-control"
                                    id="dataInicio" name="dataInicio" required>

                            </div>

                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="horaInicio">
                                    <font color="#FF0000">*</font> Hora Inicio:
                                </label>
                                <input type="time" class="form-control"
                                    id="horaInicio" name="horaInicio" required>

                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="dataFim">
                                    <font color="#FF0000"></font> Data Fim:
                                </label>
                                <input type="date" class="form-control"
                                    id="dataFim" name="dataFim" required>

                            </div>

                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="horaFim">
                                    <font color="#FF0000"></font> Hora Fim:
                                </label>
                                <input type="time" class="form-control"
                                    id="horaFim" name="horaFim" required>

                            </div> </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary"
                            value="Salvar" />
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card -->
    </section>
</div>
{{> footer}}