<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{#if title}}{{title}}{{else}}SysIcomp{{/if}}</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/public/img/favicon2.ico" />

  <!-- Fontes e Ícones -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <link rel="stylesheet" href="/script-adminlte/plugins/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

  <!-- Tema e Plugins -->
  <link rel="stylesheet" href="/script-adminlte/dist/css/adminlte.min.css" />
  <link rel="stylesheet" href="/public/css/styles.css" />

  <!-- Toastr -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>
  <body class="login-page">
  <!-- jQuery -->
  <script src="/script-adminlte/plugins/jquery/jquery.min.js"></script>

  <!-- Plugins jQuery -->
  <script src="/script-adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="/script-adminlte/plugins/jquery-validation/additional-methods.min.js"></script>
  <script src="/script-adminlte/plugins/inputmask/jquery.inputmask.min.js"></script>

  <!-- Bootstrap & AdminLTE -->
  <script src="/script-adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/script-adminlte/dist/js/adminlte.min.js"></script>

  <!-- Toastr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  {{{ body }}}
  <!-- Inicialização -->
  <script>
    $(function () {
      // Mensagem para desenvolvedores curiosos
      console.log('%cBem-vindo ao console do Seleção PPGI!', 'color: green; font-size: 16px; font-weight: bold;');
      console.log('%cAplicação construída com carinho pela equipe do IComp/UFAM ❤️', 'color: #999; font-size: 14px;');
    });
  </script>
</body>
</html>
