<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{#if title}}{{title}}{{else}}SysIcomp{{/if}}</title>

  <!-- Favicon -->
  <link href="/public/img/favicon2.ico" rel="icon" type="image/png">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/script-adminlte/plugins/fontawesome-free/css/all.min.css">

  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <!-- Theme style -->
  <link rel="stylesheet" href="/script-adminlte/dist/css/adminlte.min.css">

  <!-- Estilos personalizados -->
  <link rel="stylesheet" href="/public/css/styles.css">

  <!-- Toasts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

  {{{_sections.head}}}
  <style>
    .input-eye {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .button-eye {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  </style>
</head>

<body class="login-page">


<!-- Scripts base -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/script-adminlte/plugins/jquery/jquery.min.js"></script>
<script src="/script-adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/script-adminlte/plugins/jquery-validation/additional-methods.min.js"></script>
<script src="/script-adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/script-adminlte/dist/js/adminlte.min.js"></script>
<script src="/script-adminlte/plugins/moment/moment.min.js"></script>
<script src="/script-adminlte/plugins/inputmask/jquery.inputmask.min.js"></script>
{{{ body }}}

<script>


</script>

</body>

</html>
