<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sysicomp</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/script-adminlte/plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/script-adminlte/dist/css/adminlte.min.css">

  <!-- DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
  <link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.css" rel="stylesheet">


  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">

  <!-- jQuery -->
  <script src="/script-adminlte/plugins/jquery/jquery.min.js"></script>

  <!-- jQuery DataTables-->
  <script defer src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script defer src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
  <script defer src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.js"></script>


  <!-- jquery-validation -->
  <script src="/script-adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="/script-adminlte/plugins/jquery-validation/additional-methods.min.js"></script>

  <!-- Bootstrap 4 -->
  <script src="/script-adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Bootstrap Switch -->
  <script src="/script-adminlte/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/script-adminlte/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/script-adminlte/dist/js/demo.js"></script>

  <!-- InputMask -->
  <script src="/script-adminlte/plugins/moment/moment.min.js"></script>
  <script src="/script-adminlte/plugins/inputmask/jquery.inputmask.min.js"></script>

  {{{ body }}}
  <script>
    $(function () {
      try {
        masks();
      } catch { }

      try {
        usuariosAdicionarPage();
      } catch { }

      try {
        loginPage();
      } catch { }
    });

    function masks() {
      //Datemask dd/mm/yyyy
      $('.datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
      $('.cpf').inputmask('999.999.999-99', { 'placeholder': '___.___.___-__' })
      $('.telefone').inputmask('(99)99999-9999', { 'placeholder': '(__)_____-____' })
    }
  </script>

</body>

</html>