<div >
    <div style="font-size: 12px; text-align: center;">
        <p><strong>
        Av. Rodrigo Otávio, 6.200 - Campus Universitário Senador Arthur Virgílio Filho - CEP 69077-000 - Manaus, AM, Brasil
        </strong></p>
    </div>
    <table class="rodape-info">
        <tr>
            <td>
                <strong>Tel. (092) 3305-1193/2808/2809</strong>
            </td>
            <td class="rodape-info-td">
                <strong>E-mail: secretaria@icomp.ufam.edu.br</strong>
            </td>
            <td>
                <strong>http://www.icomp.ufam.edu.br</strong>
            </td>
        </tr>
    </table>
</div> 

